$green: #3bbf8d;
$red:#ec2028;
$gray: #f0f0f0;
* { margin: 0; }
*,*:before, *:after{box-sizing:border-box;outline:none;}
*,body,html{-webkit-text-size-adjust: none;-webkit-appearance: none;max-height: 9001em;}
html, body { height: 100%; font-family: 'Roboto',sans-serif; font-size: 16px; font-weight: 300; line-height: 1.2; color: #3c4557;}
@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {
  $filepath: "../fonts/" + $file;
  @font-face {
    font-family: quote($style-name);
    src: url($filepath + ".eot");
    src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
    url($filepath + ".woff") format('woff'),
    url($filepath + ".ttf")  format('truetype');
    font-weight: $weight;
    font-style: $style;
  }
}
@include font-face('Roboto', 'RobotoLight', 300);
@include font-face('Roboto', 'RobotoRegular', 400);
@include font-face('Roboto', 'RobotoMedium', 500);
@include font-face('Roboto', 'RobotoBold', 700);
@include font-face('RobotoSlab', 'RobotoSlabRegular', 400);
@include font-face('RobotoSlab', 'RobotoSlabBold', 700);
h1,h2,h3,h4,h5,h6{font-family: 'RobotoSlab', sans-serif; font-weight: 700;
    &.green{color: $green;}
}
h4{font-size: 1.375rem;}
h3{font-size: 2.5rem;}
hr{border:none; border-bottom: 1px solid #e5e5e5; padding-top: 53px; margin-bottom: 43px;}
@keyframes main-go-forward {
  0% {left: 0; height: 100%;}
  48% {left: 100%; height: 100%; }
  49% {left: 200%; height: 100%; opacity: 0;}
  50% {top: 0%; left: 200%; opacity: 0;  height: 50%;   border-left: 2px solid #bbbbbb;}
  51% {top: 0%; left: 200%; height: 50%; width: 41%;opacity: 1;   border-left: 2px solid #bbbbbb;}
  100% {top: 0%; left: 59%; height: 50%; width: 41%;border-left: 0;  border-left: 2px solid #bbbbbb;}
}
@keyframes second-go-forward {
  0% {left: 59%; top: 0; height: 50%; width: 41%;}
  100% {left: 59%; top: 50%; height: 50%; width: 41%;}
}
@keyframes third-go-forward {
  0% {top: 50%; left: 59%; }
  50% {left: 125%; height: 50%; top: 50%;}
  100% {top: 50%; left: 200%; height: 50%;}
}
@keyframes fourth-go-forward {
  0% {left: -120%; height: 100%; top: 0; width: 59%;}
  100% {left: 0%; height: 100%; top: 0; width: 59%;}
}
@keyframes main-go-back {
  0% {left: 0;}
  100% {left: 120%;}
}
@keyframes second-go-back {
  0% {left: 59%; height: 50%; width: 59%; }
  48% {left: 180%; height: 50%; width: 59%; }
  49% {left: 180%; height: 50%; width: 59%; opacity: 0;}
  50% {left: -120%; height: 100%; width: 59%;opacity: 0; border-right: 2px solid #bbbbbb; }
  51% {left: -120%; height: 100%; width: 59%;opacity: 1;  border-right: 2px solid #bbbbbb;}
  100% {left: 0%; height: 100%; width: 59%;border-left: 0; border-right: 2px solid #bbbbbb;z-index: 1111111111;}
}
@keyframes third-go-back {
  0% {top: 50%;}
  100% {top: 0;}
}
@keyframes fourth-go-back {
  0% {left: 200%; height: 50%; top: 50%; border-left: 2px solid #bbbbbb;}
  100% {left: 59%; height: 50%; top: 50%; border-left: 2px solid #bbbbbb;}
}
body.relmenu-opened{height: 100vh; overflow: hidden;}
p{margin-bottom: 1em;}
dl {list-style-type: none;
    dt {font-size: 1.375rem; color: #3c4557; font-weight: 700; font-family: RobotoSlab, Arial, sans-serif; padding: 21px 0 13px;}
    dd { position: relative; font-weight: 300;  letter-spacing: -0.45px; margin: 10px 0 10px 20px;
        &:before {width: 5px; height: 5px; background-color: #3bbf8d; display: block; left: -20px; top: 7px; position: absolute; content: ''; border-radius: 50%;}
    }
}
ul{list-style-type: none; padding: 0; margin: 20px 0;}
li{ position: relative; font-weight: 300;  letter-spacing: -0.45px; margin: 10px 0 10px 20px;
    &:before {width: 5px; height: 5px; background-color: #3bbf8d; display: block; left: -20px; top: 7px; position: absolute; content: ''; border-radius: 50%;}
}
a{color: #28805e; text-decoration: underline;
    &:hover {text-decoration: none;}
}
table{width: 100%; }
td{padding: 15px;}
tr:nth-child(2n + 1){background-color: #f0f0f0;}
th{padding: 15px; background-color: $green; color: #fff;}
img{max-width: 100%; width: 100%;}
.aplications{background-image: url(../images/bgvb.png); background-repeat: repeat; position: relative; padding: 10px 0;
    &:before{position: absolute;width: 50%; background-color: rgba(60,69,87, 0.9); height: 100%; right: 0;top: 0; content: '';}
    &__content{display: flex; align-items: center; justify-content: flex-start;}
    &__img{width: 50%;
        img{width: 100%;}
    }
    &__text{width: 50%; color: #fff; max-width: 600px; padding: 34px 70px 34px 34px;
        h6{font-size: 20px; margin-bottom: 44px; }
        .button{margin-top: 56px;}
    }
}
.applist{display: flex;flex-wrap: wrap; align-items: flex-start; padding: 25px 0;
    &__text{  font-size: 1.625rem;  color: rgb(60, 69, 87);line-height: 1.308; font-weight: 700; width: 266px;  }
    &__img{width: 137px; margin-right: 20px; flex-shrink: 0;  line-height: 0;}
    &__item{border: 5px solid transparent;   width: 100%; display: flex;justify-content: center;align-items: center; transition: all 200ms; height: 230px; padding: 20px;}
    &__item-wrap{border: 2px solid $gray;   width: calc(50% - 30px); text-decoration: none; display: block; margin:0 15px 30px; transition: all 200ms;
        &:hover{border-color: $green;
            .applist__item{border-color: $green;}
        }
    }
  &__summary {display: flex; justify-content: space-between; align-items: center; margin-bottom: 2.5rem; }
  &__prices {display: flex; align-items:center;}
  &__decimals {font-size: 2.5rem; color: #ec2028; font-weight: 600; margin-top: 6px;}
  &__when {display: flex; flex-direction: column; margin-left: 15px;
    span {font-size: 1.25rem; line-height: 1.25rem;
      &:first-child {border-bottom: 1px solid #3c4557;}
    }
  }
}
.apptitle{display: flex;align-items: center; padding: 37px 0 69px;
    &__img{width: 378px; padding: 0 40px;}
    h2{font-size: 3.125rem; letter-spacing: 2px; margin: 16px 0;}
    .applist__summary {
      p {margin-bottom: 0;}
    }
    p{font-size: 1.25rem; margin-bottom: 50px;}
    .button{margin:6px  12px;}
    &__text{padding-bottom: 35px;
      .button-same-width {  display: flex; align-items: center; justify-content: space-between; margin: 0 -12px;
        .button{max-width: 275px; }
      }
    }

}
.appslider{ padding: 55px 42px;
    &__slide{width: 138px; margin: 0 auto; display: block; position: relative; height: 138px; overflow: hidden;
      img {position: absolute; transition: all 200ms;
        &:last-child {opacity: 0;}
      }
      &:hover {
        img {
          &:last-child {opacity: 1;}
        }
      }
    }
    .button--arrow{position: absolute; top: calc(50% - 21px); left: 0; z-index: 10;
        &.forward{left: auto; right: 0;}
    }
}
.button { padding: 0; border: 0; border-radius: 21px;   display: inline-block; text-decoration: none; background-color: transparent;  transform: translate3d(0px, 0px, 0px);
  span {background-color: #3bbf8d;  border: 2px solid #3bbf8d;   color: #fff; font-weight: 600; text-transform: uppercase; font-size: 0.875rem; line-height: 1.2;  height: 42px;   display: inline-flex; align-items: center; letter-spacing: 2.75px; border-radius: 21px;  cursor: pointer; justify-content:center; padding: 0 30px; transform: translate3d(0px, 0px, 0px);

  }
    &:hover span {background-color: #00a07e; border-color: #00a07e;}
    &--bordered {
    span { color: $green; background-color: #fff;}
    &:hover span {color: #fff; background-color: $green; border-color: $green;}
  }
    &--arrow {z-index: 10;
        span {width: 42px; position: relative; min-width: 1px; padding: 0;
          &:hover:after {border-color: #fff;}
          &:after {transition: all 0.2s; display: block; content: ''; position: absolute; width: 13px; height: 13px; border-top: 2px solid $green; border-left: 2px solid $green; top: 34%; left: 42%; transform: rotateZ(-45deg); }
        }
        &.forward  span:after {  left: 28%; transform: rotateZ(135deg); }
  }
    &--red{
    span{color: #fff; background-color: $red; border-color: $red;}
    &:hover span{background-color: #cc1d22; border-color: #cc1d22;}
  }
    &--gray {
        span { color: #000; background-color: $gray; border-color: $gray; letter-spacing: 1.5px; }
        &:hover span { color: #fff; background-color: #00a07e; border-color: #00a07e; }
    }
    &--icon { margin: 15px; white-space: nowrap;
        span { text-transform: none; font-weight: 400; }
        svg { width: 35px; height: 35px; fill: $green; margin-right: 15px; }
        &:hover svg {  fill: #fff; }
    }
    &--full {width: 100%;
      span {width: 100%;}
    }
}
.b24table{
    &__top{display: flex; padding: 0 0 27px; align-items: center;}
    &__img{flex-shrink: 0; padding: 0 50px 24px 20px;}
    &__icon{width: 60px; height: 60px; margin-right: 15px; flex-shrink: 0;
        svg{width: 100%; height: 100%;}
    }
    &__text{width: 100%; max-width: 270px;}
    &__box{display: flex; flex-wrap: wrap; padding-top: 27px; }
    &__item{width: 50%; display: flex; margin-bottom: 24px; padding: 0 10px;}
    &__row{display: flex; width: 100%; }
    &__cel{width: 100%; text-align: center; padding: 9px 5px;  position: relative;
        h5{color: $green; font-size: 1rem; margin-bottom: 12px;}
    }
    &__bottom{padding: 30px 0 0;}
    &__table{width: 100%; padding-bottom: 20px;overflow-x: auto;
        th,
        td{text-align: center;
            &:first-child{text-align: left; width: 25%;
                .b24table__cel{text-align: left;}
            }
        }
        table{width: 99.9%;}
        tr.b24table__special{background-color: transparent;
            td{padding: 0;border-right: 2px solid #f0f0f0;}
        }
    }
}
.breadcrumbs { margin: 5px 0; font-size: 12px;
    ul { list-style-type: none; display: flex; padding: 0; }
    li { margin:0 20px 0 0;  position: relative;
        &:before{display: none;}
        &:last-child:after {display: none;}
        a {font-weight: 500; }
        &:after {  position: absolute; content: '→'; color: #000; display: block; right: -15px; top: 1px; }
    }
}
.blogitem{ padding: 25px 0;
    &:nth-child(2n){background-color: #f0f0f0;}
    &__top{display: flex; justify-content: space-between; align-items: center; padding-bottom: 23px;
        p{margin-bottom: 0;}
    }
    &__author{width: 333px; flex-shrink: 0; display: flex;justify-content: flex-end;align-items: center;}
    &__title{ color: #b2b2b2; text-decoration: none; padding-right: 15px;
        h4{color: #3c4557; font-size: 1.375rem;
            &:hover{color: $green;}
        }
    }
    &__name{color: #363636; text-align: right;
        h5{font-size: 1.125rem;}
    }
    &__img{width: 100%; display: block;padding-bottom: 12px;
        img{width: 100%;}
    }
    &__photo{width: 50px; height: 50px; border-radius:50%; overflow: hidden; position: relative; margin-left: 20px;
        img{width: 100%; height: 100%; object-fit: cover; }
    }
    &__bot{text-align: center;}
}
.blogpost{padding-top: 14px; padding-bottom: 8px;
    .blogitem__photo img{margin: 0;}
    img{margin: 0.875rem 0;}
    &__date{width: 333px;}
    &__text{max-width: 976px; margin: 0 auto; font-weight: 300;  line-height: 1.875rem; font-size: 1.25rem;
        h4{margin: 2.750rem 0 1.69rem;}
        p{margin-bottom: 1.875rem;}
        .regular{font-weight: 400;}
    }
}
.career {
    &__item { padding: 24px 0 44px;
        &:nth-child(2n) {
            background-color: #f0f0f0;
            .job__send {background-color: #fff;}
        }
    }
}
.caselist{
    &__item{display: flex; justify-content: center;align-items: center; padding: 30px 0;
        &:nth-child(2n){  flex-direction: row-reverse;
            .caselist{
                &__text{margin-left: 0;
                    .button{margin-left: 0;}
                }
                &__img{ padding-right: 0;padding-left: 15px;
                    &:before{background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);  }
                }
            }
        }
    }
    &__img{width: 50%; padding-right: 15px; flex-shrink: 0; position: relative;
        &:before{background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); content: ''; display: block;position: absolute;left: 0;top: 0; width: 100%;height: 100%; }
    }
    &__text{ margin-left: -80px; z-index: 1; line-height: 1.67;
        .title{margin-bottom: 60px;}
        .button{margin-left: 125px; margin-top: 20px;
            span{min-width: 260px;}
        }
    }
}
.contacts-land { background-color: $gray; padding: 30px 0; margin-top: 60px;
    &__box { display: flex; justify-content: space-between; flex-wrap:  wrap; padding: 40px 0 80px 0;
        img { min-width: 80px; width: 80px; height: 80px; border: solid 1px transparent; border-radius: 100%; overflow: hidden; align-self: center; }
    }
}
.case { padding-top: 50px;  padding-bottom: 20px;}
.cases-slider { font-size: 1rem; height: 100vh; overflow: hidden; display: flex;  flex-direction: column; justify-content: space-between;  max-height: 700px;
  .mbox {max-width: 1040px;}
}
.callback{background-color: #3c4557; padding: 6px 0 12px;
  &__title{color: #fff; font-size: 1.25rem; font-weight: 300; text-align: center; padding-bottom: 10px; margin-bottom: 25px;}
  &__row{display: flex; width: 100%; align-items: flex-start; justify-content: center; margin-bottom: 24px;
    textarea,
    input[type=password],
    input[type=email],
    input[type=number],
    input[type=text]{width: 100%; border-style:solid; border-color: #fff; border-width:0 0 1px; background-color: transparent; font-weight: 300;color: #fff; transform: translate3d(0px, 0px, 0px); border-radius: 0;
      &::-webkit-input-placeholder {color: #fff; font-weight: 300;}
      &:-moz-placeholder {color: #fff; font-weight: 300;}
      &::-moz-placeholder {color: #fff; font-weight: 300;}
      &:-ms-input-placeholder {color: #fff; font-weight: 300;}
    }
    textarea{resize: none;}
    .errorText{font-weight: 300; color: #fff; margin: 7px 0; font-size: 12px; position: absolute; display: inline-block; top: 100%;
      &:before{content: '!'; color:#fff; font-weight: 700; font-size: 12px; display: inline-block; width: 14px; height: 14px; line-height: 14px; border-radius: 50%; overflow: hidden; margin-right: 8px; background-color: $red; text-align: center;  vertical-align: text-top;}
    }
  }
  &__input{padding: 0 15px; flex-grow: 1; width: 33%; margin-bottom: 15px; position: relative;
    &--100{width: 100%;}
  }
    &__form{padding-bottom: 25px;}
  &__thanks {position: relative; background-color: transparent;
    img {position: absolute; width: 100%; height: 100%; object-fit: cover; z-index: -1; top: 0; left: 0; right: 0; bottom: 0;}
    .callback__title {max-width: 690px; margin: 0 auto; line-height: 30px;}
  }
}
.contacts{ display: flex; justify-content: center; flex-wrap: wrap; margin: 30px 0;
    &__tel {
        span { font-size: 1.5rem; }
    }
}
.coop { display: flex; align-items: stretch; justify-content: center;
    &__over {width: 100%; overflow: hidden; background-color: #f0f0f0; margin-top: -54px;}
    &__wrap { margin-top: 63px;}
    &__company {display: flex; align-items: center; justify-content: space-between; margin: 7px 0 20px 0;
        a {font-weight: 600;}
    }
    &__content { padding-top: 27px;
        &--team {padding-top: 22px;}
        p {margin: 0;}
    }
    &__text { line-height: 1.625rem; color: #3c4557;
        &--bold {font-weight: 600; margin-top: 26px; }
    }
    &__col {width: 50%; padding-right: 70px;
        &--team {background-color: #3c4557; position: relative; padding-right: 0;   padding-bottom: 69px;
            &:after {display: block; height: 100%; content: ''; width: 100%; left: 100%; background-color: #3c4557; position: absolute; top: 0;}
            .coop__content {display: flex; justify-content: flex-start; flex-direction: column; align-items: flex-end;}
            .blogitem__author {margin: 14px 0;}
            .blogitem__name { color: #fff;
                h5 {font-size: 1.25rem;}
                p {font-weight: 300; font-size: 1.125rem;}
            }
            .blogitem__photo {
                margin-left: 30px;
            }
        }
    }
}
.doubleslider{display: flex; justify-content: flex-start;align-items: stretch; border-top: 3px solid #bbb; border-bottom: 3px solid #bbb; overflow: hidden; background-color: #fff;
    &__big{width: 55.3%;  border-right: 3px solid #bbb; transform: scaleY(-1);
        .slide{display: flex; justify-content: flex-end; align-items: flex-start; padding: 58px 38px 27px; transform: scaleY(-1);}
        .slide__box{width: 548px; }
    }
    &__nav{width: 44.7%; margin-top: -235px;
        .slide{padding: 23px 47px 27px; position: relative; height: 235px;
            &:before{content: ''; width: 100%; height: 3px; background-color: #bbb; position: absolute; left: 0; bottom: 0;}
            &__description{display: none;}
            &__box{max-width: 345px;}
            &__header{font-size: 1.25rem; height: 48px;}
            &__image{height: 129px; margin-bottom: 0;}
            .button span{height: 26px; font-size: 9px; }
        }
        .slick-active + .slick-active + .slick-active.slide:before{display: none;}
    }
    &__buttons{text-align: center; padding: 36px 0 10px;}
    .slick-slider{margin-bottom: 0;}
}
.item{padding: 12px; width: 33%; display: flex; flex-direction: column; margin: 23px 0; justify-content: center; align-items: center;
  &__text{color: #3c4557; text-align: center; width: 100%; font-size: 1.125rem; margin-bottom: 26px;  margin-top: 14px; height: 42px;}
  &__image{display: flex; align-items: center; justify-content:center; height: 80px;}
}
.icon{width: 30px; height: 30px; display: inline-block; margin: 2px;
    svg{width: 100%; height: 100%;}
    &--green{fill:$green;}
}
.features{padding: 1px 0;
    &__icon{width: 80px; height: 80px; padding: 4px; margin: 0 auto 12px;
        svg{width: 100%; height: 100%;}
    }
    &__title{font-size: 1.125rem; text-align: center;}
    &__hover{color: #fff; background-color: $green; padding: 20px; font-size: 0.875rem; border-radius: 10px; text-align: center; width: 100%; position: absolute; left: 0; top: 50%;     line-height: 1.25; transform: translateY(-50%) scale(0); opacity: 0; height: 0; overflow: hidden; transition: transform 200ms, opacity 200ms; z-index: 100;
        h5{font-size: 1.125rem; position: relative; padding: 6px 0 19px; margin-bottom: 24px;
            &:before{width: 54px;height: 3px; background-color: #fff; content: ''; display: block; position: absolute; left: calc( 50% - 27px); bottom: 0;}
        }
    }
    &__item{width: 222px; position: relative; margin: 0 auto;
        &:hover .features__hover{transform: translateY(-50%) scale(1); opacity: 1; height: auto; overflow: hidden;}
    }
    &__slide{width: 24.5%; padding: 40px 5px; display: inline-block;}
    &__slider{padding-bottom: 25px; }
}
.feedback{padding: 20px 0 55px;
  .slick-center .feedback__topit{border-style:solid; border-color: $green; border-width: 3px 3px 0;}
  &__topit{width: 100%; height: 127px; display: flex; justify-content: center;align-items: center; padding: 12px 0;
    img{width: auto;}
  }
  &__logos{margin-bottom: 0; padding: 16px 50px 0;
    .button--arrow{position: absolute; top: calc(50% - 21px); left: 0;
      &.forward{left: auto; right: 0;}
    }
  }
  &__text{background-color: #fff; padding: 15px;}
  &__comment{font-weight: 300; max-width: 823px; width: 100%; margin: 0 auto; line-height: 1.6; padding: 40px 0 16px;}
  &__avatar{width: 80px; height: 80px; border-radius: 50%; overflow: hidden; position: relative; margin: 0 auto;
    img{width: 100%; height: 100%; object-fit: cover;}
  }
  &__autor{text-align: center; padding: 26px 0;
    b{font-size: 1.125rem; color: $green;}
  }
}
.footer {  background: cadetblue;  flex-grow: 0; flex-shrink: 0; flex-basis: auto; background-image: url(../images/greenrabasymka.jpg); display: flex;
    &__info{width: 50%; display: flex;justify-content: flex-end;}
    &__info-box{width: 600px; padding-left: 20px;}
    &__map{width: 50%; height: 460px;}
    &__address{color: #fff; display: flex;justify-content: flex-start;align-items: center; margin-bottom: 42px;}
    &__links{
      a{ color: #ffffff; text-decoration: none; font-size: 30px; font-weight: 300; line-height: 1; display: block; margin: 6px 0;  }
    }
    &__phone{display: flex; justify-content: flex-start; align-items: center; margin-bottom: 15px;}
    &__mail{text-decoration: none; color: #fff; line-height: 1;  }
    &__icon{width: 40px;height: 40px; display: inline-block;vertical-align: middle; margin-right: 30px;
      svg{width: 100%; height: 100%; fill:#fff;}
    }
    &__socials{margin: 18px 0 0 -15px; }
    &__addr-link{border:none; background: transparent; text-align: left;
        &.menu__address-txt{
            &:not(:nth-child(2)){border:none;}
            &:not(:first-child){border-left:3px solid #fff;  }
        }
    }
}
.fours {
  .leave__picture {width: auto; padding: 0 10px;}
  .callback__title {margin-top: 50px; max-width: 500px; line-height: 2rem;}
  .leave__form {max-width: 650px;
    .button {margin: 10px 10px;}
  }
}
.grey-bg{background-color: #f0f0f0;}
.global-wraper {  display: flex;  flex-direction: column;  height: 100%; }
header{position: absolute; top: 0; left: 0; width: 100%; z-index: 1000; border-bottom: 1px solid #959da6;
  .mbox{max-width: 1600px;}
  &.white{background-color: #fff; position: fixed; top: -100%; animation-duration: 200ms; animation-name: header; animation-fill-mode: forwards;
    .header{
      #logo-color{display: inline-block;}
      #logo-outline{display: none;}
      a{color: #000;}
        &__tel svg{fill:#000;}
      &__logo svg{fill:#000;}
      &__lang{
        .jq-selectbox__select-text{color: #000;}
        .jq-selectbox:hover   .jq-selectbox__trigger-arrow {  border-top:2px solid #000; border-right:2px solid #000;}
          .jq-selectbox__trigger-arrow {  border-top:2px solid #000; border-right:2px solid #000;}
      }
    }
    .menu__butter span{background-color: #000;}
  }
}
.simple{padding-top: 100px;
  header{background-color: #fff;
      .header{
        #logo-color{display: inline-block;}
        #logo-outline{display: none;}
        a{color: #000;}
        &__tel svg{fill:#000;}
        &__logo svg{fill:#000;}
        &__lang{
          .jq-selectbox__select-text{color: #000;}
          .jq-selectbox:hover   .jq-selectbox__trigger-arrow {  border-top:2px solid #000; border-right:2px solid #000;}
            .jq-selectbox__trigger-arrow {  border-top:2px solid #000; border-right:2px solid #000;}
        }
      }
      .menu__butter span{background-color: #000;}

  }
}
@keyframes header {
  0%{top: -100px;}
  100%{top: 0;}
}
.header{display: flex;justify-content: space-between;align-items: center;
  #logo-color{display: none;}
  a{color: #fff; text-decoration: none;
    &:hover{color: $green;}
  }
  &__logo{width: 78px; height: 60px; flex-shrink: 0; margin:0 5px;
    svg{width: 100%; height: 100%; fill:#fff;}
  }
  &__nav{display: flex; justify-content: space-between; align-items: center; width: 445px;margin:0 5px;
    a{height: 99px; display: inline-flex; justify-content: center;align-items: center; font-family: 'RobotoSlab'; font-weight: 400; text-decoration: none; border-bottom: 3px solid transparent;
      &:hover{color: $green; border-color:$green;}
    }
  }
  &__tel{ font-size: 24px; flex-shrink: 0; margin:0 5px;
    svg{width: 20px;height: 20px; fill:#fff; display: none;}
  }
  &__btn{flex-shrink: 0; margin:0 5px;}
  &__lang{ flex-shrink: 0;
    .jq-selectbox.focused .jq-selectbox__select,
    .jq-selectbox__select{background: transparent; border:none; box-shadow: none;}
    .jq-selectbox__select-text{color: #fff; text-shadow: none; font-size: 1rem; text-transform: uppercase;}
    .jq-selectbox__trigger{border-left: none;}
    .jq-selectbox:hover   .jq-selectbox__trigger-arrow {  border-top:2px solid #fff; border-right:2px solid #fff;}
      .jq-selectbox__trigger-arrow {  border-top:2px solid #fff; border-right:2px solid #fff; width: 7px;height: 7px; border-left: 0;   border-bottom: 0; transform:rotate(135deg); top: 10px;right: 20px;}
      .jq-selectbox__dropdown{border-radius: 8px;}
      .jq-selectbox{
          ul{padding: 10px 0;}
        li {margin: 0; color: #c1c1c1; text-align: center; text-transform: uppercase;
            &:before {display: none;}
            &.selected{color: #3d4759; background-color: transparent;}
            &:hover{color: $green; background-color: transparent;}
        }
      }
  }
}
.hidden-block{position: absolute; left: -9999px; top: -9999px;}
.js-resize-slider{
    .button--arrow{position: absolute; top: calc(50% - 21px); left: 0;
        &.forward{left: auto; right: 0;}
    }
}
.js-app-slider{ margin-bottom: 10px;padding-top: 43px;
  .slick-dots{bottom: auto; right: 40px; display: inline-flex; flex-direction: column; top: 50%; transform:translateY(-50%); width: auto;
    li{transform: translateZ(0);
      button{padding: 0; position: relative;  font-size: 1rem; background: #fff; width: 10px;height: 10px; border-radius: 50%;z-index: 3;
          &:before{display: none;}
      }
      &.slick-active button{ background: $green;}
    }
  }
}
.js-showmore-hid{display: none;}
.job {
    &__img {width: 100%; border-radius: 2px; height: 240px;
        img {object-fit: cover; width: 100%; height: 100%;border-radius: 2px;}
    }
    &__header {font-size: 1.375rem; color: #3c4557; font-weight: 700; font-family: RobotoSlab, Arial, sans-serif; padding: 21px 0 13px;}
    &__send {background-color: #f0f0f0; width: 100%; display: flex; justify-content: space-between; align-items: center; padding: 22px 20px; margin-top: 12px; margin-bottom: 4px;}
    &__locate {margin-right: 10px;
        p { font-weight: 300; font-size: 0.9375rem; margin: 0;
            span {font-weight: 700;}
        }
    }
    &__requirements {display: flex; align-items: flex-start; justify-content: flex-start;}
    &__col {width: 50%; padding-right: 50px;}
}
.languages{display: inline-flex; justify-content: flex-start; align-items: center; flex-wrap: wrap;
  a,label{position: relative; display: inline-block; padding: 5px; cursor: pointer;
    input{position: absolute;opacity: 0;top: 0; left: 0;}
    span{width: 46px;height: 24px; border-radius:12px; display: flex; justify-content: center;align-items: center; background-color: rgba(255, 255, 255, 0.1); color: #fff; font-size: 12px; text-transform: uppercase; font-family: 'RobotoSlab', sans-serif;}
    &:hover span{background-color: $green;}
    input:checked + span{ background-color: rgba(255, 255, 255, 1); color: #444f64;}
  }
    a{position: relative; display: inline-block; padding: 5px; cursor: pointer; text-decoration: none;
        span{width: 46px;height: 24px; border-radius:12px; display: flex; justify-content: center;align-items: center; background-color: rgba(255, 255, 255, 0.1); color: #fff; font-size: 12px; text-transform: uppercase; font-family: 'RobotoSlab', sans-serif;}
        &:hover span{background-color: $green;}
        &.active span{ background-color: rgba(255, 255, 255, 1); color: #444f64;}
    }
}
.land { display: flex; width: 25%; padding: 0 25px 35px 25px;  position: relative; flex-direction: column; align-items: center; text-align: center;
    a { font-size: 1.87rem; white-space: nowrap; color: #3c4557;  text-decoration: none;  position: absolute; left: 50%; bottom: 0; transform: translateX(-50%); }
    &__name { font-size: 2.49rem; font-weight: 700; margin-top: 10px;}
    &__city { font-size: 1rem; line-height: 1.19; margin: 10px 0; }
}
.leave {
  &__picture{width: 100px; margin-top: 120px;}
  &__form { max-width: 310px; width: 100%; }
  .callback__input {padding: 0;}
}
.main-content { flex-grow: 1;  flex-shrink: 0;  flex-basis: auto; position: relative;}
.mate { display: flex; align-items: center; justify-content: center; flex-direction: column; width: 260px; padding: 10px; margin-bottom: 17px;
    &__photo {width: 152px; display: flex; align-items: center; justify-content: center; height:152px; border: 1px solid #e6e6e6; border-radius: 50%; overflow: hidden; transform: translateZ(0);
        img {width: 100%; height: 100%; object-fit: cover; }
    }
    &__name {color: #3c4557; font-size: 1.375rem;  font-weight: 700; font-family: RobotoSlab, Arial, sans-serif; margin: 11px 0 2px;}
    &__position {font-weight: 300;}
    &__mail { text-decoration: none; font-weight: 400; color: #000000; margin: 15px 0;
        &:hover { text-decoration: underline; }
    }
    &__image {display: flex; align-items: center; justify-content:center; margin-bottom: 7px;
        svg{ width: 37px; height: 29px;fill: #3bbf8d;}
    }
}
.mainbanner{ width: 100%; background-size: cover; background-position: 50%  50%; position: relative;
  &:before{background-color: rgba(33,39,51, 0.8); content: ''; width: 100%; height: 100%; position: absolute;left: 0;top: 0; z-index: 1;}
  &__text{width: 100%; height: 100vh; display: flex;justify-content: center;align-items: center; flex-direction: column; position: relative;z-index: 10;  }
    &__special{display: flex;justify-content: flex-start;flex-direction: column;
        .onlymob-992 {margin-top: 12px;
            .button{width: 100%;  }
        }
        .button{flex-grow: 1;
            span{width: 100%;}
        }
    }
}
.mainslider{
    &.slick-slider{margin-bottom: 0;}
  .slick-dots{bottom: 40px; display: inline-flex; left: 50%; transform:translateX(-50%); width: auto; top:auto;
      li{margin: 0; padding:0 10px 0 0; height: 10px; width: 50px; overflow: hidden; transform: translateZ(0); position: relative;
        &:before{width: 100%; height: 6px; background-image: url(../images/vbvv.png); background-repeat: repeat-x; display: block; content: ''; position: absolute; left: 0; z-index: 1; top: 2px; transform: translateZ(0);background-color: transparent; border-radius: 0;}
        &:after{width: 200%; height: 6px; border-left:50px solid $green;  background-color: #fff; display: block; content: ''; position: absolute; left: -100%; z-index: 0; top: 2px; transform: translateZ(0); }
        button{padding: 0; position: relative;  font-size: 1rem; background: #fff; width: 10px;height: 10px; border-radius: 50%;z-index: 3; margin: 0;}
        &.slick-active{
          &:after{left: 0; transition: left 4500ms;}
          button{ background: $green;}
        }
        &:last-child{width: 10px;
          &:before{display: none;}
          &:after{display: none;}
        }
      }
  }
}
.mbox{max-width: 1198px; padding: 0 10px; margin: 0 auto; width: 100%;}
.menu{ flex-shrink: 0;
  &__butter{width: 30px; height: 25px; cursor: pointer; border:none; background:transparent; padding: 0; position: relative;
    span{display: block;height: 2px; width: 20px; background-color: #fff; position: absolute; left: 5px; top: 6px;
      &:nth-child(2){top: 12px;}
      &:nth-child(3){top: 18px;}
    }
  }
  &__hiden{position: fixed;width: 100%; height: 100%; left: 0; top: 0; pointer-events: none; z-index: 1200;}
  &__box{background-image: url(../images/bgvb.png); background-repeat: repeat; position: absolute; padding: 0; height: 100%; overflow-y: auto; width: 100%; opacity: 0; left: -100%; top: 0; pointer-events: all; transition: all 300ms; display: flex; flex-direction: column; justify-content: space-between;
    &.active{opacity: 1; left: 0;}
      .mbox{max-width: 1600px; padding: 0 30px; }
  }
  &__close{width: 30px; height: 30px; position: absolute; left: 6px; top: 35px; cursor: pointer;
    span{width: 20px;height: 2px; background-color: #fff; display: block; transform: rotate(45deg); position: absolute; top: 50%;
      &:last-child{transform: rotate(-45deg);}
    }
    &--solologo{left: auto; right: 6px;}
  }
  &__logo{width: 112px; height: 86px; flex-shrink: 0; margin:0 5px; display: block; position: absolute;left: 50px;top: 10px;
    svg{width: 100%; height: 100%; fill:#fff;}
    &--solologo{width: 78px; height: 60px;}
  }
  &__top{display: flex; justify-content: flex-end; align-items: center; padding: 30px 0 0 50px; position: relative;
    &--solologo{padding: 10px;}
      .languages{width: 330px;}
      .socials{width: 330px;}
  }
  &__content{display: flex; flex-direction: column; flex-wrap: wrap; max-height: 330px; align-items: flex-end; align-content: flex-end;
    a{font-family: 'RobotoSlab'; font-size: 2.5rem; color: #fff; text-decoration: none; width: 330px; text-align: left; padding: 0 10px; line-height: 2;
      &:hover{color: $green; color: $green;  }
    }
  }
  &__phone{ color: #ffffff; text-decoration: none; font-size: 1.875rem; font-weight: 300; line-height: 1;
    svg{width: 35px; height: 36px; fill:#fff; margin-right: 8px; vertical-align: middle;}
  }
  &__mail{text-decoration: none; color: #fff; line-height: 1;
    svg{width: 31px; height: 22px; fill:#fff; margin-right: 8px; vertical-align: middle;}
  }
  &__address{color: #fff; display: flex;justify-content: flex-start;align-items: center;
    svg{width: 22px;height: 32px; fill:#fff;}
  }
  &__address-txt{padding: 0 10px;
    &:not(:nth-child(2)){border-left:2px solid $green; }
    p{margin-bottom: 0;}
  }
  &__bottom{min-height: 140px; background-color: #3e4759; display: flex; justify-content: center;align-items: center; flex-shrink: 0;}
  &__bottom-wrap{display: flex;justify-content: space-between; align-items: center; width: 100%;}
}
.morebtn{text-align: center; padding-bottom: 25px;
    a{display: inline-flex;  font-weight: 700; font-size: 0.875rem; align-items: center; text-transform: uppercase;}
    svg{width: 12px; height: 7px; fill:#28805e; margin-left: 6px;}
}
.order{
     &__text{color: #fff; text-align: center; margin-bottom: 55px;}
     &__bottom{width: 100%; text-align: center; padding-bottom: 40px;
        &--styled {padding: 0;
          .button {max-width: 275px;}
          .order__files {margin-bottom: 0; padding: 40px 0;}
          .order__files-wrap {justify-content: center;}
        }
     }
    &__files{margin-bottom: 40px; background-color: #3e4759; padding: 10px 0; border-bottom: 1px solid #787f8b;
      &--styled {margin-bottom: 0; padding: 10px 20px; }
    }
     &__files-wrap{display: flex;justify-content: flex-start;align-items: center;}
    &__form{
        .title h2{margin-top: 0; margin-bottom: 35px;}
        textarea{text-align: center; height: 29px;}
        input{text-align: center;}

    }
  &__slider {max-width: 970px; margin: 0 auto;
    .button--arrow span {background-color: transparent; border-color: #fff;
      &:after { border-color: #fff;}
      &:hover {background-color: #3bbf8d; border-color: #3bbf8d;}
    } 
  }
    &__upload{ margin: 0 12px;  cursor: pointer; flex-shrink: 0; padding: 8px;
    svg{width: 28px;height: 28px; fill:#fff; vertical-align: middle; margin-right: 8px;}
    label{position: relative; color: #fff; line-height: 1; display: flex; justify-content: flex-start; align-items: center;}
    input{position: absolute;opacity: 0; left: 0;top: 0; height: 0;}
  }
    &__uploaded{height: 100%; position: relative; display: flex; flex-wrap: wrap; align-items: center; justify-content: flex-start;}
     &__one-file{position: relative; color: #fff; line-height: 1; display: flex; justify-content: flex-start; align-items: center; margin: 6px; cursor: pointer; text-align: left;
    svg{width: 28px;height: 28px; fill:#fff; vertical-align: middle; margin-right: 8px; cursor: pointer;}
    input{position: absolute;opacity: 0; left: 0;top: 0; pointer-events: none;}
    span{ width: 150px; white-space: nowrap; text-overflow:ellipsis ; overflow: hidden;}
  }
}
.oscar{ padding: 40px 0;
    &__wrap{display: flex; align-items: center;}
    &__item{flex-grow: 1; width: 33%; padding: 45px;}
}
.onlymob-600{display: none;}
.onlymob-992{display: none;}
.paginator{margin: 25px 0 47px; padding: 0; display: flex; width: 100%; align-items: center;justify-content: center;
    li{margin: 5px;
        &:before{display: none;}
    }
    a{width: 42px;height: 42px; border-radius: 50%; display: flex;align-items: center;justify-content: center; color: #000;background-color: #f2f2f2; text-decoration: none;
        &.active{background-color: $green; color: #fff; pointer-events: none;}
        &:hover{background-color: $green; color: #fff; }
    }

}
.pentaslider {padding: 0 42px;
    &__slider {width: 100%; margin-bottom: 90px;}
    &__slide { transform: scale(0.75); transition: transform 300ms;
        &.slick-center {transform: scale(1);  width: 653px;}
        img { margin: 0 auto;}
    }
    .slick-dots {bottom: -64px; }
    .button--arrow {left: 5%; top: 50%; position: absolute; transform: translateY(-50%);
        z-index: 10;
        &.forward {right: 5%; left: auto;}
    }
}
.pocket { width: 100%; max-width: 377px; background-color: #ffffff; margin: 5px 10px 5px 0; min-width: 250px; transition: all 200ms;
  &__head {background-color: #3bbf8d; color: #ffffff; font-size: 1.875rem; font-family: RobotoSlab, Arial, sans-serif;  display: flex; align-items: center; width: 100%; height: 121px;
    justify-content:center;  padding: 0 20px; position: relative;
  }
  &__leafs { position: absolute;bottom: -26px; line-height: 1; display: flex; align-items: center; justify-content: center; width: 52px; height: 52px; left: 50%; transform: translateX(-50%);z-index: 5;
    img {width: 100%; height: 100%; object-fit: contain;}
  }
  &__price {font-size: 1.875rem; color: #3e4759; font-family: RobotoSlab, Arial, sans-serif; font-weight: 700; text-align: center; margin-bottom: 24px;}
  &__inside {position: relative; overflow: hidden; max-height: 464px; min-height: 464px; transition: all 600ms; border: 1px solid #3bbf8d; border-width: 0 1px 1px 1px;
    &.opened {overflow: visible; }
  }
  &__items {position: absolute; width: calc(100% + 2px); left: -1px; ; height: auto; border: 1px solid #3bbf8d; border-width: 0 1px 0px 1px; max-height: 464px; transition: all 500ms;overflow: hidden;
    &.show { max-height: 1000px; height: auto; box-shadow: 0 3px 30px rgba(0, 0, 0, 0.3);
      .pocket__holder {padding-bottom: 20px;}
    }
  }
  &__button {width: 100%; display: flex; align-items: center; justify-content: center; margin-bottom: 47px;}
  &__desc {text-align: center; font-weight: 300; font-size: 0.9375rem; letter-spacing: 0.8px;
    p {margin-bottom: 2rem;}
  }
  &__slide {transition: all 200ms; width: 60px; height: 60px; background-color: #bbbbbb; border-radius: 50%; position: absolute; bottom: -30px; left: 50%; transform: translateX(-50%); cursor: pointer;
    &:after {position: absolute; transition: left 200ms; display: block; width: 2px; height: 12px; content: ''; background-color: #ffffff; top: 10px; left: calc(50% + 3px); transform-origin: 50% 50%; transform: rotateZ(45deg); }
    &:before {position: absolute; transition: left 200ms; display: block; width: 2px; height: 12px; content: ''; background-color: #ffffff; top: 10px;  left: calc(50% - 5px); transform-origin: 50% 50%; transform: rotateZ(-45deg); }
    &:hover {background-color: #3bbf8d;}
    &.hidden { display: none; }
  }
  &__gradient { transition: all 100ms; position: absolute; width: 100%; height: 150px; display: block; background-image: linear-gradient(transparent, white); bottom:0; left: 0; pointer-events: none; opacity: 1;
    &.hidden {display: none;}
    &.hide {opacity: 0;}
  }
  &__holder {background-color: #fff; width: 100%; height: auto; padding: 44px 50px 2px 50px; transition: all 200ms;}
  &.opened {
    z-index: 1000;
    .pocket__items {border-width: 0 1px 1px 1px;}
    .pocket__slide {
      &:after {left: calc(50% - 5px);}
      &:before {left: calc(50% + 3px);}
    }
  }
}
.services {padding: 17px 0;
    .mbox {max-width: 1170px; }
    &__wrapper {padding: 13px 0 25px; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: stretch;}
    .button--arrow {left: 0; position: absolute; top: 50%; transform: translateY(-50%);
        &.forward {right: 0; left: auto;}
    }

}
.social{display: inline-flex; justify-content: flex-start; align-items: center; flex-wrap: wrap;
  &__btn{width: 30px; height: 30px; display: inline-block; padding: 6px; margin: 7px;
    svg{width: 100%; height: 100%; fill:#fff;transition: transform 100ms;}
    &:hover svg{transform:scale(1.3)}
  }
}
.similar{ display: flex; padding-top: 30px; padding-bottom: 24px;
    &__item{width: 230px; padding: 0 10px; text-decoration: none; color: #000; display: block; margin-bottom: 25px; flex-grow: 1;
        &:hover{color: $green;}
    }
    &__img{width: 100%; height: 116px; margin-bottom: 18px;
        img{width: 100%;height: 100%; object-fit: cover;}
    }
    &__title{font-size: 1.125rem;font-weight: 700;}
}
.screenshot{width: 25%; padding: 12px; position: relative; line-height: 0;
    &:before{content: ''; display: block;width: calc(100% - 24px);height: calc(100% - 24px); background-color: rgba(20,64,47,0.3); position: absolute;left: 12px;top: 12px; transition: opacity 200ms; opacity: 0;}
    &:hover{
        &:before{opacity: 1;}
        svg{opacity: 1;}
    }
    svg{width: 30px;height: 30px; fill:#fff; position: absolute;left: 50%; top: 50%; transform: translate(-50%, -50%); transition: opacity 200ms; opacity: 0;}
}
.someblock{padding : 27px 0;
    &__flexrow{display: flex; justify-content: flex-start; flex-wrap: wrap; padding: 25px 0;}
    &__row{text-align: center; margin: 7px 0 41px;
        .button{margin: 8px 13px;}
    }
    &__text{position: relative;z-index: 10; color: #fff; font-weight: 300; text-align: center;
        p{margin: 61px 0 25px; line-height: 1.67;}
    }
    &__text-black{position: relative;z-index: 10;  color: rgb(60, 69, 87); padding-top: 20px;
        line-height: 1.625; font-weight: 300; text-align: center;
        p{margin: 0 0 1em;}
    }
    &__img{text-align: center;}
    &.toper{ padding : 27px 0;  }
}
.slider{ position: relative; height:100%;
  &__wrapper {border-top: 2px solid #bbbbbb; border-bottom: 2px solid #bbbbbb; max-height: 450px; height: 100%; min-height: 350px; background-color: #fff;
    .mbox {  height: 100%;}
  }
  &__control { display: flex; justify-content: center; align-items: center; padding: 30px; height: 100%;
    .button{margin: 0 5px;}
  }
  &__controllers {background-color: #f0f0f0;}
  &.slided-back {
    .slide__main {animation-name: main-go-back; animation-duration: 300ms; animation-timing-function: linear; animation-fill-mode: forwards;}
    .slide__second {animation-name: second-go-back; animation-duration: 380ms; animation-timing-function: linear; animation-fill-mode: forwards; border-right: 2px solid #dddddd;
      .slide__description {display: block;}
      .slide__header {text-align: left; font-size: 40px; margin-bottom: 25px; font-weight: 600; padding: 0px 0 0 0; color: #4b586d;}
      .button { padding: 0; border: 0; border-radius: 21px; margin-left: 10px;
        &:hover  span {background-color: $green; border-color: $green;}
        span {background-color: $green;  border: 2px solid $green;color: #fff; font-weight: 600; text-transform: uppercase; font-size: 0.875rem; line-height: 1.2; height: 42px; min-width: 258px; display: flex; align-items: center;  border-radius: 21px; transition: all 0.2s; cursor: pointer; justify-content:center;}
      }
      .slide__box {padding: 25px 50px 10px 25px; border: 7px solid transparent; border-left: 0; height: 100%;
        &:before {  display: none;}
      }
      .slide__buttons a {font-weight: 700; color: $green; font-size: 0.9375rem;}
      &:after {display: none;}
    }
    .slide__third {animation-name: third-go-back; animation-duration: 200ms; animation-timing-function: linear; animation-fill-mode: forwards;
      &:after {position: absolute; height: calc(100% + 4px); top: -2px; display: block; width: 200%; left: 100%; content: ''; border-bottom: 2px solid #bbbbbb; border-top: 2px solid #bbbbbb;}
    }
    .slide__fourth {animation-name: fourth-go-back; animation-duration: 400ms; animation-timing-function: linear; animation-fill-mode: forwards;}
  }
  &.slided-forward {
    .slide__main {animation-name: main-go-forward; animation-duration: 300ms; animation-timing-function: linear; animation-fill-mode: forwards;
      position: absolute; left: 59%; top: 0; height: 50%; width: 41%; border-top: 2px solid #bbbbbb; border-left: 2px solid #bbbbbb; border-bottom: 2px solid #bbbbbb;
      .slide__description {display: none;}
      .slide__header {padding-top: 0; transition: color 0.2s; color: #000000; font-size: 20px; margin-bottom: 5px; }
      .slide__buttons {
        a {font-size: 0.75rem;}
        .button   span {font-size: 0.5625rem; min-width: 160px; height: 26px;}
      }
      .slide__box {border: 7px solid transparent; border-right: 0; padding: 20px 25px 10px 50px; background-color: #fff;
        &:before {right: auto; left: 100%; background-color: #fff;}
        &:hover { border-color: #00a07e; border-right: 0;}
      }
      &:after {position: absolute;
        top: -2px;
        display: block;
        width: 200%;
        left: 100%;
        content: '';
        border-bottom: 2px solid #bbbbbb;
        border-top: 2px solid #bbbbbb;
        height: calc(100% + 4px);
      }
      &:before {display: none;}
    }
    .slide__second {animation-name: second-go-forward; animation-duration: 300ms; animation-timing-function: linear; animation-fill-mode: forwards; }
    .slide__third {animation-name: third-go-forward; animation-duration: 200ms; animation-timing-function: linear; animation-fill-mode: forwards;
      .slide__header {display: block; width: 100%; text-align: left; font-size: 40px; margin-bottom: 25px; font-weight: 600; padding: 0px 0 0 0; color: #4b586d;}
    }
    .slide:last-child {position: relative; animation-name: fourth-go-forward; animation-duration: 300ms; animation-timing-function: linear; animation-fill-mode: forwards; border-top: 2px solid #bbbbbb; border-right: 2px solid #bbbbbb; border-bottom: 2px solid #bbbbbb;
      &:before {border-top: 2px solid #bbbbbb; border-bottom: 2px solid #bbbbbb; position: absolute; display: block; content: ''; right: 100%; top: -2px; width: 100%; height: calc(100% + 4px);}
      &:after {border-top: 2px solid #bbbbbb; }
    }
  }
}
.slide{
  &__header{display: block; width: 100%; text-align: left; font-size: 2rem; height: 76px; margin-bottom: 0; font-weight: 600; padding: 0; color: #4b586d;}
  &__description {font-size: 15px; margin: 18px 0 19px; height: 54px;}
  &__image { width: 100%; display: flex; margin: 0 0 30px; height: 155px;
    img {object-fit: contain; width: 100%; height: auto; }
  }
  &__box {   position: relative; display: flex; flex-direction: column; justify-content: center; align-items: center;  }
  &__buttons { display: flex; align-items: center; justify-content: space-between; width: 100%; flex-shrink: 0;
    a {font-weight: 700; color: $green; font-size: 0.9375rem; transition: all 0.2s;
      &:hover {color: #00a07e; text-decoration: none;}
    }
  }
}
.slick-dots{bottom: auto;  top: calc(100% - 40px);  margin: 0;
    li{transform: translateZ(0);
        &:before{display: none;}
        button{padding: 0; position: relative;  font-size: 1rem; background: #d8dade; width: 10px;height: 10px; border-radius: 50%;z-index: 3; margin: 0 auto;
            &:before{display: none;}
        }
        &.slick-active button{ background: $green;}
    }
}
.solution {
    &__wrap { display: flex; align-items: center; justify-content: space-between; padding: 26px 0;}
    &__col {width: 100%; max-width: 490px; margin: 10px 0; padding: 0 15px 0 0;}
    &__text { line-height: 1.66rem;}
    &__brands {display: flex;  flex-wrap: wrap; width: 100%; justify-content: flex-start; align-items: center;}
    &__item { width: 30%; display: flex;  align-items: center; justify-content: center; margin: 25px 25px 25px 0;
        img {width: auto;}
    }
}
.subscribe{position: fixed; background-color: #fff; left: 0; bottom: 0; display: inline-flex; align-items: center; padding: 10px; box-shadow: 1px -1px 16px 0px #000; border-top-right-radius: 10px; max-width: 100%; z-index: 222; margin-right: 40px;
    &__text{  font-size: 12px; margin-right: 12px;}
    &__cross{ background-color: transparent; border:none; width: 30px; height: 30px; padding: 5px; margin-left: 12px; flex-shrink: 0;
        svg{transform: rotate(45deg); width: 100%; height: 100%; fill:#000;}
    }
    &__form {display: flex; align-items: center; justify-content: flex-end;
      .callback__row {margin: 0; }
      .callback__input {margin: 0;
        input {border-color: #3c4557; color: #3c4557; width: 200px;
          &::-webkit-input-placeholder {color: #3c4557; font-weight: 300;}
          &:-moz-placeholder {color: #3c4557; font-weight: 300;}
          &::-moz-placeholder {color: #3c4557; font-weight: 300;}
          &:-ms-input-placeholder {color: #3c4557; font-weight: 300;}
        }
      }
    }
}
.task {
    &__image {border: 1px solid #e4e4e4;}
}
.team{
    &__desc {font-size: 0.9375rem; text-align: center; max-width: 75%; margin: 0 auto; padding: 11px 0;
        &--white{color: #fff;}
    }
    &__box {display: flex; width: 100%; flex-wrap: wrap; margin-top: 26px; margin-bottom: 50px; justify-content: space-between; align-items: flex-start;
        .button--arrow {left: 0; position: absolute; top: 50%; transform: translateY(-50%);
            &.forward {right: 0; left: auto;}
        }
    }
}
.title{
  h1,h2,h3,h4,h5,h6{color: #4b586d; text-align: center;}
  h1,h2{font-size: 3.125rem; margin: 40px 0;letter-spacing: 2px;}
  h3{  margin: 30px 0; line-height: 1.2;}
  &--underline{position: relative;
    &:before{position: absolute; bottom: -32px; left: calc(50% - 27px); width: 54px; height: 3px; background-color: $green; content:''; display: block; }
  }
  &--white{
    h1,h2,h3,h4,h5,h6{color: #fff;}
    &.title--underline {
      &:before {background-color: #fff;}
    }
  }

    &--left{
        h1,h2,h3,h4,h5,h6{text-align: left;}
        &:before {left: 0;}
    }
    &--right {
        h1,h2,h3,h4,h5,h6 { text-align: right; }
        &:before {left: auto; right: 0;}
    }
}
.toper{ width: 100%; background-size: cover; background-position: 50%  50%; position: relative;    padding: 190px 0 90px;
    &:before{background-color: rgba(33,39,51, 0.8); content: ''; width: 100%; height: 100%; position: absolute;left: 0;top: 0; z-index: 1;}
    &__text{width: 100%;   display: flex;justify-content: center;align-items: center; flex-direction: column; position: relative;z-index: 10;
        h1{color: #fff; text-align: center;font-size: 3.125rem; margin-top: 0;}
    }


}
.thanks {
  &__text {color: #ffffff; text-align: center; padding-top: 50px; }
}
.tables { padding: 20px 0 55px; position: relative; z-index: 10;
  &__wrapper {min-width: 1180px; overflow-x: scroll;}
  &__box {display: flex; justify-content: center; align-items: flex-start; margin: 0 -10px 0 0; padding-top: 41px; }
}
.the-result { padding-top: 25px;
    &__wrap { display: flex;  align-items: flex-start;  justify-content: center; flex-wrap: wrap;}
    &__item {width: 360px; display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 15px; margin: 0 10px;}
    &__icon {width: 70px; height: 70px; display: flex; align-items: center; justify-content: center;
        svg {width: 100%; height: 100%;}
        img {width: 100%; height: 100%; object-fit: contain;}
    }
    &__text {font-weight: 300; text-align: center; margin-top: 20px;
        p {line-height: 1.375rem; }
    }
    &__button { display: flex; align-items: center; justify-content: center; margin: 20px 0 40px;}
  &__subhead {max-width: 660px; margin: 0 auto 55px; text-align: center; padding-top: 20px; font-size: 16px;  font-family: Roboto, sans-serif;
    p { line-height: 1.375rem; letter-spacing: 0;}
  }
}
.testimonial {display: flex; align-items: center; justify-content: center; flex-direction: column; margin: 0 auto;  max-width: 826px; padding-top: 20px; padding-bottom: 0px;
    &__text {
        p {margin: 0; line-height: 1.66rem;  }
    }
    &__guy {display: flex; flex-direction: column; align-items: center; justify-content: flex-start; margin-top: 27px;}
    &__photo {width: 80px; height: 80px; border-radius: 50%; overflow: hidden;
        img {width: 100%; height: 100%; object-fit: cover;}
    }
    &__who {text-align: center; padding-top: 10px;
        h5 {font-weight: 600; color: #00a07e; font-size: 1.125rem; letter-spacing: -0.5px; }
        p {color: #3c4557; font-weight:300;
            a {color: #3c4557;}
        }
    }
}
.widgets{ padding: 40px 0;
    &__wrap{display: flex;align-items: center;}
    &__item{padding: 15px; line-height: 0;
        a{ line-height: 0; display: inline-block; }
    }
    &__title{font-size: 1.875rem; width: 40%;}
}
.clutch-widget{border-radius: 10px; border: 1px solid #ccc; padding: 11px;}

.socials__share {display: flex;  align-items:center; justify-content: flex-start; margin: 10px 0;}
.socials__link {width: 24px; height: 24px; border-radius: 3px; transition: all 200ms; margin: 3px;
  svg {border-radius: 3px;}
  &:hover {opacity: 0.9;}
}
.socials__text {margin-right: 10px; font-weight: 400;}

@media screen and (orientation: portrait) {
    body { height: 100%; }
}
@media screen and (orientation: landscape) {
    body {  height: 100%;  }
}
@media screen and (max-height: 700px){
  .leave {
    &__picture {width: 60px;}
    h2 {margin: 25px 0;}
  }
}
@media screen and (max-height: 630px) {
    .order{
        &__form .title h2{font-size: 2rem;}
        &__text{margin-bottom: 25px;}
        &__bottom{padding-bottom: 25px;}
        &__files{margin-bottom: 25px;}
    }
}
@media screen and (max-width: 1600px) {
    header.white .header__nav a{height: 74px;}
}
@media screen and (max-width: 1200px) {
    .header__tel{
        svg{display: block;}
        span{display: none;}
    }
    .land {
        a { font-size: 1.5rem; }
    }
    .pocket {
      &__desc p {margin-bottom: 1.3rem;}
    }

}
@media screen and (max-width: 992px) {
    html, body{font-size: 14px;}
    .title h2{margin: 25px 0;}
    .title--underline:before{bottom: -16px;}
    header{border-bottom:none;}
    header.white{border-bottom: 1px solid #959da6;}
    .simple{padding-top: 80px;
        header {border-bottom: 1px solid #959da6;}
    }
    .applist__img{width: 80px;}
    .apptitle{padding: 26px 0;
        &__img{width: 30%;   flex-shrink: 0; padding: 0 20px;}
        p{margin-bottom: 20px;}
    }
    .appslider {   padding: 25px 42px;  }
    .aplications{
        &__content{align-items: stretch;}
        &__img{
            img{width: 100%; height: 100%; object-fit: cover;}
        }
        &__text{
            .button{margin-top: 10px;}
        }
    }
    .breadcrumbs{display: none;}
    .b24table__img{display: none;}
    .blogpost{
        &__top .button{display: none;}
    }
    .callback__input{margin-bottom: 30px;}
    .caselist{
        &__text {
            .button{margin-top: 0;}
            .title{margin-bottom: 34px;
                h3{margin-top: 10px;}
            }
        }
        &__item{padding:  20px 0;}
    }
    .case{padding: 20px 10px;}
    .coop__over{margin-top: 0;}
    .doubleslider{
        &__nav{display: none;}
        &__big{width: 100%; border-right: 0;
            .slide{justify-content: center; padding: 20px;
                &__description{height: auto;}
                &__image{height: auto;}
                &__header{font-size: 2rem;}
            }
        }
    }
    .item{margin-top: 0;}
    .features__slide{width: 32.5%;}
    .features__item:hover .features__hover {  opacity: 0;  height: 0;   overflow: hidden; }
    .footer{flex-direction: column; position: relative; padding-bottom: 44px;
        &__info{width: 100%;}
        &__info-box{width: 100%; padding-left: 0; text-align: center;display: flex; flex-direction: column;justify-content: flex-start; align-items: center;}
        &__icon{margin-right: 0; margin-bottom: 7px;}
        &__map{width: 100%; height: 260px;}
        &__socials{position: absolute;bottom: 0;left: 0;width: 100%; margin: 0; text-align: center;}
        .title--left h2{text-align: center;}
        &__address{justify-content: center;flex-direction: column; order:4; margin-bottom: 15px;
            svg{margin-left: 4px;}
        }
        &__links{display: inline-flex; flex-wrap: wrap; justify-content: center; flex-direction: column;
            a{margin: 0 12px; font-size: 2rem;}
        }
        &__addr-link{width: 49%; text-align: center;}
        &__phone{justify-content: center; flex-direction: column;}
        &__maptubs{width: 100%;}
        &__mail{flex-direction: column; display: flex; justify-content: center; align-items: center; padding-bottom: 15px;}
    }
    .feedback{padding: 20px 0 10px;
        &__comment { padding: 10px 0 0; }
        &__autor {  padding: 26px 0 0;  }
    }
    .header{ padding: 10px 0;
        &__nav{display: none;}
        &__lang{display: none;}
        &__btn{display: none;}
    }
    .job__col {padding-right: 15px;}
    .land { width: 50%; padding: 55px 15px; }
    .menu{
        &__content{flex-direction: row; max-height: none;padding-left: 20px;
            a{font-size: 2rem; width: 250px;}
        }
        &__bottom-wrap{flex-wrap: wrap; justify-content: space-around;}
        &__mail{padding: 10px;}
        &__phone{padding: 10px;}
        &__address{padding: 10px;}
        &__box .socials{display: none;}
    }
    .mate{width: 180px;}
    .onlymob-992{display: block;}
    .order{
        &__files-wrap{flex-wrap: wrap; justify-content: space-around;}
        &__uploaded{width: 100%; padding-top: 10px;}
    }
    .pentaslider{
        .button--arrow{left: 0;
            &.forward{right: 0;}
        }
        &__slide{transform: scale(1);}
    }
    .slide{
        &__main{width: 100%; border:none;}
        &__second{left: 105%; display: none;}
        &__third{left: 105%; display: none;}
        &__main:before{display: none;}
        &__box{padding: 15px 10px 15px; border-right:0;
            &:hover{border-color: transparent;
                &:before{border-color: transparent;}
            }
        }
        &__header{text-align: center;}
        &__description{text-align: center;}
    }
    .similar{padding-top: 12px; padding-bottom: 0;}
    .solution {
        &__col {padding: 0; max-width: none; text-align: center;}
        &__wrap {flex-wrap: wrap; padding-top: 0; padding-bottom: 0;}
        &__brands {justify-content: center;}
    }
    .someblock { padding: 15px 0;  }
    .task{
        &__image{display: inline-block;}
    }
    .tables {
      &__box {padding-top: 25px;}
    }
    .team{
        &__box{justify-content: space-around;}
        &__desc br{display: none;}
    }
    .toper{padding: 160px 0 80px;
        &--fullscreen{min-height: calc(100vh - 80px); padding: 80px 0 80px;}
    }
    .apptitle h1,
    .apptitle h2,
    .title h1,
    .title h2 {  font-size: 2.6rem;}
    .the-result__button{margin-bottom: 20px;}
    @keyframes main-go-forward {
        0% {left: 0; height: 100%;}
        48% {left: -120%; height: 100%; }
        49% {left: 200%; height: 100%; opacity: 0;}
        50% {top: 0%; left: 200%; opacity: 0;  height: 50%;   border-left: 2px solid #bbbbbb;}
        51% {top: 0%; left: 200%; height: 50%; width: 100%;opacity: 1;   border-left: 2px solid #bbbbbb;}
        100% {top: 0%; left: 105%; height: 50%; width: 100%;border-left: 0;  border-left: 2px solid #bbbbbb;}
    }
    @keyframes second-go-forward {
        0% {left: 105%; top: 0; height: 50%; width: 41%;}
        100% {left: 105%; top: 50%; height: 50%; width: 41%;}
    }
    @keyframes third-go-forward {
        0% {top: 50%; left: 105%; }
        50% {left: 125%; height: 50%; top: 50%;}
        100% {top: 50%; left: 200%; height: 50%;}
    }
    @keyframes fourth-go-forward {
        0% {left: -120%; height: 100%; top: 0; width: 59%; }
        100% {left: 0%; height: 100%; top: 0; width: 59%; }
    }
    @keyframes second-go-back {
        0% {left:105%; height: 50%; width: 59%; }
        48% {left: 180%; height: 50%; width: 59%; }
        49% {left: 180%; height: 50%; width: 59%; opacity: 0;}
        50% {left: -120%; height: 100%; width: 59%;opacity: 0; border-right: 2px solid #bbbbbb; }
        51% {left: -120%; height: 100%; width: 59%;opacity: 1;  border-right: 2px solid #bbbbbb;}
        100% {left: 0%; height: 100%; width: 59%;border-left: 0; border-right: 2px solid #bbbbbb;z-index: 1111111111;}
    }
    @keyframes fourth-go-back {
        0% {left: 200%; height: 50%; top: 50%; border-left: 2px solid #bbbbbb;}
        100% {left: 105%; height: 50%; top: 50%; border-left: 2px solid #bbbbbb;}
    }
}
@media screen and (max-width: 900px) {
  .tables {
    &__box {flex-wrap: wrap; margin: 0;}
  }
  .pocket { max-width: 500px; margin: 5px 0;
    &__holder {padding-top: 30px;}
    &__price {margin-bottom: 13px;}
    &__head {height: 90px;}
    &__button {margin-bottom: 20px;}
    &__items {max-height: 245px;}
    &__inside {max-height: 245px; min-height: 245px;}
    &__desc p {margin-bottom: 1.3rem;}
  }
}
@media screen and (max-width: 767px) {
    .aplications{
        &:before{width: 50%;}
        &__content{flex-direction: column;}
        &__text{width: 100%; padding: 30px 10px; text-align: center; margin: 0 auto;
            h6{margin-bottom: 15px;}
            .button {   margin-top: 10px;  }
        }
        &__img{width: 100%; height: 160px;}
    }
    .applist{
        &__item-wrap{width: 100%;}
        &__item{height: auto; padding: 24px;}
        &__img{width: 137px;}
    }
    .caselist{
        &__item{flex-direction: column; max-width: 400px; margin: 0 auto;
            &:nth-child(2n){  flex-direction: column;
                .caselist{
                    &__img{padding-right: 0;padding-left: 0;
                        &:before{background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);  }
                    }
                }
            }
        }
        &__text{margin-left: 0; text-align: center;
            .button{margin-left: 0; span {min-width: 1px;}}
            .title{margin-bottom: 0;
                h3{text-align: center; margin : 20px 0;}
            }
            .title--underline:before{display: none;}
        }
        &__img{ padding-right: 0;padding-left: 0; width: 100%;
            &:before{background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);  }
        }

    }
    .coop {flex-wrap: wrap;
        &__col {width: 100%; padding-right: 0;
            &--team{padding-bottom: 22px;
                &:before {display: block; height: 100%; content: ''; width: 100%; right: 100%; background-color: #3c4557; position: absolute; top: 0;}
                .blogitem{
                    &__photo {margin-left: 0;}
                    &__name {text-align: left;}
                }
            }
        }
        &__text {text-align: center;}
        .blogitem__author { flex-direction: row-reverse; justify-content: center; width: 100%;}
        .blogitem__photo {margin-right: 10px; }
        &__wrap {margin-top: 20px;}
        &__content {
            &--team {flex-direction: row; flex-wrap: wrap; justify-content: flex-end;}
        }
    }
    .footer__icon{margin-right: 0;}
    .js-app-slider{padding-top: 10px;
        .slick-dots{right: auto;top:auto; transform: none; bottom: -15px; display: block; margin: 0 auto; width: 100%;}
    }
    .oscar__item{padding: 15px;}
    .similar{flex-wrap: wrap;
        &__img{margin-bottom: 8px;}
    }
    .screenshot{width: 50%;}
    .title{
        &--left {
            h2{text-align: center;}
            &:before {left: 50%; transform: translateX(-50%);}
        }
        &--right {
            h2{text-align: center;}
            &:before {left: 50%; transform: translateX(-50%);}
        }
    }
    .subscribe__form {flex-wrap: wrap; justify-content: center; align-items: stretch;
      button { margin-top: 10px;  }
    }
    .widgets{
        &__wrap{flex-wrap: wrap;justify-content: center;}
        &__title{width: 100%; text-align: center; margin-bottom: 15px;}
    }
}
@media screen and (max-width: 640px) {
  .pocket { max-width: 520px; }
}
@media screen and (max-width: 600px) {
    th,td{padding: 8px;}
    hr{margin-bottom: 0; padding-top: 0;}
    html, body { font-size: 12px;}
    .applist{padding-top: 20px;
        &__item-wrap{margin: 0 0 15px;}
        &__item{flex-direction: column;}
        &__img{ margin-right: 0; margin-bottom: 20px;}
        &__text{width: 100%; text-align: center;}
    }
    .apptitle{flex-direction: column; padding: 15px 0 0;
        &__text{text-align: center;
            h2{text-align: center; font-size: 2.168rem;}
        }
        &__img{width: 150px; padding-right: 0;}
    }
    .appslider {  padding: 10px 42px;  }
    .b24table{
        &__item{width: 100%; align-items: center; text-align: center;}
        &__text{max-width: 100%;}
        &__cel{padding: 5px;}
    }
    .button{
        span{height: 32px; font-size: 12px;}
        &--arrow{
            span{width: 32px;
                &:after{top: 9px; left: 10px; width: 10px;height: 10px;}
            }
            &.forward span:after{left: 7px;}
        }
    }
    .blogitem{padding: 11px 0 1px;
        &__author{width: 100%; flex-direction: column-reverse; margin-top: 16px;}
        &__name{text-align: center;}
        &__photo{margin-left: 0;}
        &__title{width: 100%; text-align: center; padding-right: 0;}
        &__top{flex-wrap: wrap; justify-content: center;}
    }
    .button--icon { margin: 15px 0;
        svg { width: 25px; height: 25px; }
    }
    .button-same-width{display: flex;flex-direction: column;
        .button span{width: 100%;}
    }
    .career__item {padding: 10px 0 20px;}
    .contacts-land { margin-top: 20px;
        &__box { padding: 0; }
    }
    .contacts { flex-direction: column; display: inline-flex; margin: 0; }
    .callback{
        &__row{flex-wrap: wrap; margin-bottom: 20px;
            &:last-child{margin-bottom: 0;}
            textarea{height: 42px;}
            textarea,
            input[type=password],
            input[type=email],
            input[type=number],
            input[type=text]{text-align: center;}
            .errorText{position: relative;}
        }
        &__input{padding: 0;width: 100%; margin:0 auto 20px; text-align: center; max-width: 400px;}
    }
    .cases-slider{height: 600px;}
    .footer{
        &__map{height: 180px;}
    }
    .feedback{
        &__logos{padding-top: 0;
            .button--arrow{top: calc(50% - 16px);}
        }

    }
    .features__slide{padding-top: 0;}
    .header{

        &__tel svg{height: 15px; width: 15px;}
        &__logo {   width: 63px; height: 45px;}
    }
    .job {
        &__header{text-align: center;}
        &__img {display: none;}
        &__col {width: 100%; padding-right: 0;}
        &__requirements {flex-wrap: wrap;}
        &__send {flex-direction: column;}
        &__locate {width: 100%; margin: 0 0 10px 0;}
    }
    .item__text{font-size: 1.5rem;}
    .land { width: 100%; padding: 0; margin-bottom: 20px; flex-direction: row;
        a { font-size: 1.5rem; position: relative; left: auto; bottom: auto; transform: none; }
        & > div { padding: 0 15px; width: 100%; text-align: left;}
        &__name{font-size: 1.5rem;}

    }
    .mainslider{margin-bottom: 0;
        .slick-dots{bottom: 120px;}
    }
    .mate {margin: 0 auto;}
    .menu{
        &__content{padding-left: 0;
            a{font-size: 1.5rem; width: 100%; text-align: center;}
        }
        &__bottom{display: none;}
        &__top{position: static; padding: 15px 0;
            .socials {display: none;}
            .languages{width: 100%; justify-content: space-between;}
        }
        &__logo{display: none;}
        &__box{
             .mbox{padding: 0 10px;}
            &[data-rel=main]{flex-direction: column-reverse; padding-top: 20px; }
        }
        &__close{left: 15px;top: 10px;}
    }
    .onlymob-600{display: block;}
    .order{
        &__upload{margin: 0; width: 100%;
            label{justify-content: center;}
        }
        &__one-file span{width: 115px; text-align: left;}
        &__uploaded{justify-content: center;}
    }
    .slick-initialized .slick-slide.item{display: flex;}
    .services__wrapper{margin-bottom: 0;}
    .someblock{padding: 10px 0;
        &__row{margin: 0;
            &--sticky{display: inline-flex; flex-direction: column;
            span{width: 100%;}
            }
        }
        &__text p{margin: 0 0 25px;}
    }
    .subscribe{   flex-direction: column;     border-top-right-radius: 0; margin-right: 0;
        &__text{width: 100%; margin-right: 0;margin-bottom: 10px; padding-right: 40px;}
        &__cross{position: absolute; top: 10px;right: 10px;}
    }
    .solution {
        &__text {text-align: center;}
    }
    .simple { padding-top: 66px;  }
    .tac-mobile{text-align: center;}
    .team__box {justify-content: space-around;}
    .title{
        h1,
        h2 {font-size: 2.168rem; margin:  25px 0;letter-spacing: 2px;}
        &--underline:before{bottom: -15px;}
    }
    .toper{padding: 130px 0 65px;
        &--fullscreen{min-height: calc(100vh - 65px); padding: 65px 0 65px;}
        h1{font-size: 2.168rem;}
    }
    .the-result {
        &__item {flex-direction: row;}
        &__icon {margin-right: 10px; min-width: 70px;}
        &__text {margin: 0;
            p {margin: 0;}
        }
    }
    .pocket {
      &__items {max-height: 245px;}
      &__inside {max-height: 245px; min-height: 245px;}
    }
}
@media screen and (max-width: 520px) {
  .pocket { max-width: 440px;
    &__items {max-height: 215px;}
    &__inside {max-height: 215px; min-height: 215px;}
  }
}
@media screen and (max-width: 480px) {
    .similar__item{width: 100%;padding: 0;}
    .pocket { max-width: 460px; }
}

@media screen and (max-width: 400px) {
    .aplications__img{width: 100%;}
    .slick-dots {  max-width: 200px; left: 50%;  transform: translateX(-50%); }
    .js-app-slider .slick-dots{left: auto; max-width: 100%;}
    .pocket {min-width: unset;}
    .oscar__wrap{flex-direction: column;}
    .oscar__item{width: 200px;}
}
@media screen and (max-width: 340px) {
    .mbox{padding: 0 8px;}
    .button span{letter-spacing: 0;}
}
