<div class="blogitem">
    <div class="mbox">
        <div class="blogitem__top">
            <a href="#" class="blogitem__title">
                <h4>Chatbots, Robot and Me</h4>
                <p>28 August 2018</p>
            </a>
            <div class="blogitem__author">
                <div class="blogitem__name">
                    <h5>Viktor Magdin </h5>
                    <p>Backend TeamLead</p>
                </div>
                <div class="blogitem__photo">
                    <img src="images/vyacheslav.jpg" alt="" datadata-object-fit="cover">
                </div>
            </div>
        </div>
        <a href="#" class="blogitem__img">
            <img src="https://avivi.pro/upload/iblock/ef3/ef3ab60584b3e3fe3ed8cb9fb760aaa8.png" alt="">
        </a>
        <div class="blogitem__bot">
            <p>If you think that the age of robots appeared in the cinema only - you are deeply mistaken! They do not just surround us, but they are also ready to help your cause. Using Bitrix24,
                you can even program your assistant by yourself. This article describes such process.</p>
        </div>
    </div>

</div>