
    <div class="mbox">
        <div class="title title--underline">
            <h2>Career</h2>
        </div>
        <div class="team__desc">
            Become a part of our friendly team. <br>
            We will be delighted to cooperate with you!
        </div>
    </div>
    <div class="career__wrap">
        <div class="career__item">
            <div class="mbox">
                <div class="job">
                    <div class="job__img">
                        <img src="images/comp.jpg" alt="">
                    </div>
                    <div class="job__header">Front-End Developer</div>
                    <div class="job__send">
                        <div class="job__locate">
                            <p><span>Location: </span>Khmelnytskyi, remotely</p>
                            <p><span>Salary:</span> negotiations upon an interview</p>
                        </div>
                        <a href="#anchor-send" type="button" class="button anchor-btn"><span>SEND A RESUME</span></a>
                    </div>
                    <div class="job__requirements">
                        <div class="job__col">
                            <dl>
                                <dt>Requirements</dt>
                                <dd>In-depth knowledge of modern HTML/CSS</dd>
                                <dd>Adequate knowledge of jQuery and JavaScript</dd>
                                <dd>Recommended understanding of AngularJS principles</dd>
                                <dd>Javascript</dd>
                                <dd>A solid understanding of the adaptive layout foundations</dd>

                            </dl>

                        </div>
                        <div class="job__col">
                            <dl>
                                <dt>Working conditions</dt>
                                <dd>Mo - Fr: 09:30 — 18:30 @ Office</dd>
                                <dd>Ability to work and thrive in a fast-paced environment, learn rapidly
                                    and grow together with our team.</dd>
                                <dd>Comfortable office in the city centre</dd>
                                <dd>Great coffee and treats :)</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="career__item">
            <div class="mbox">
                <div class="job">
                    <div class="job__img">
                        <img src="images/comp.jpg" alt="">
                    </div>
                    <div class="job__header">UI/UX Designer</div>
                    <div class="job__send">
                        <div class="job__locate">
                            <p><span>Location: </span>Khmelnytskyi, remotely</p>
                            <p><span>Salary:</span> negotiations upon an interview</p>
                        </div>
                        <a href="#anchor-send" type="button" class="button anchor-btn"><span>SEND A RESUME</span></a>
                    </div>
                    <div class="job__requirements">
                        <div class="job__col">
                            <dl>
                                <dt>Requirements</dt>
                                <dd>Willingness to work and learn</dd>
                                <dd>Proficiency in Photoshop, Illustrator, or other visual design
                                    and wire-framing tools</dd>
                                <dd>Ability to solve problems creatively and effectively</dd>
                                <dd>The person we are looking for has to be polite, cheerful, responsible,
                                    show initiative and possess excellent communication skills, as well
                                    as to be able to work as a part of a team.</dd>
                            </dl>
                        </div>
                        <div class="job__col">
                            <dl>
                                <dt>Working conditions</dt>
                                <dd>Full-time, 09:30 — 18:30</dd>
                                <dd>Working in a team</dd>
                                <dd>Comfortable office in the city centre</dd>
                                <dd>Tea, coffee, cookies :)</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="career__item">
            <div class="mbox">
                <div class="job">
                    <div class="job__img">
                        <img src="images/comp.jpg" alt="">
                    </div>
                    <div class="job__header">Bitrix Middle Back-End Developer</div>
                    <div class="job__send">
                        <div class="job__locate">
                            <p><span>Location: </span>Khmelnytskyi, remotely</p>
                            <p><span>Salary:</span> negotiations upon an interview</p>
                        </div>
                        <a href="#anchor-send" type="button" class="button anchor-btn"><span>SEND A RESUME</span></a>
                    </div>
                    <div class="job__requirements">
                        <div class="job__col">
                            <dl>
                                <dt>Requirements</dt>
                                <dd>At least 1 year of working experience with Bitrix.</dd>
                                <dd>Working experience with version control systems such as Git, Mercurial etc.</dd>
                                <dd>Working experience with version control systems such as Git, Mercurial etc.</dd>
                                <dd>Ability to identify, prioritize, delegate and control tasks inside the team</dd>
                            </dl>
                        </div>
                        <div class="job__col">
                            <dl>
                                <dt>Working conditions</dt>
                                <dd>Hours of work: 09:30 — 18:30</dd>
                                <dd>Spacious office downtown</dd>
                                <dd>Assistance in moving from another city is provided. There is an opportunity to work remotely.</dd>
                                <dd>Cookies and funny jokes.</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

