<div class="mbox">
    <div class="title title--underline">
        <h2>Contacts</h2>
    </div>
    <div class="team__desc">
        You can contact us directly using any mean of communication that you find convenient.
    </div>
    <div style="text-align: center;">
        <div class="contacts button-same-width">
            <a href="tel:+1 587 601 03 11" class="button button--gray button--icon contacts__tel">
            <span>
            <svg><use xlink:href="#phone"></use></svg>
                +1 <b>587 601 03 11</b>
            </span>
            </a>
            <a href="mailto:hello@avivi.pro" class="button button--gray button--icon">
            <span>
                <svg><use xlink:href="#mail"></use></svg>
                hello@avivi.pro
            </span>
            </a>
            <a href="mailto:@avivi_bot" class="button button--gray button--icon">
            <span>
                <svg><use xlink:href="#telegram"></use></svg>
                @avivi_bot
            </span>
            </a>
        </div>
    </div>
</div>
<div class="contacts-land">
    <div class="mbox">
        <div class="title title--underline">
            <h2>Our Offices</h2>
        </div>
        <div class="contacts-land__box">
            <div class="land">
                <img src="images/canada.jpg" alt="Canada">
                <div>
                    <div class="land__name">Canada</div>
                    <div class="land__city">1401 1 Street SE, Suite 201 <b>Calgary</b>, AB T2G 2J3 copy</div>
                    <a href="tel:+1 587 6010311">+1 <b>587 6010311</b></a>
                </div>
            </div>
            <div class="land">
                <img src="images/russia.jpg" alt="Russia">
                <div>
                    <div class="land__name">Russia</div>
                    <div class="land__city">16 Presnenskaya nab., bld. 2, 16th floor Imperia Tower, MIBC "Moscow City"
                        121170 <b>Moscow</b>
                    </div>
                    <a href="tel:+7 499 3467460">+7 <b>499 3467460</b></a>
                </div>
            </div>
            <div class="land">
                <img src="images/europe.jpg" alt="Europe">
                <div>
                    <div class="land__name">Europe</div>
                    <div class="land__city"><b>Warsaw</b>, Poland</div>
                    <a href="tel:+48 22 390 64 99">+48 <b>22 390 64 99</b></a>
                </div>
            </div>
            <div class="land">
                <img src="images/ukraine.jpg" alt="Ukraine">
                <div>
                    <div class="land__name">Ukraine</div>
                    <div class="land__city">14 Dniprovska nab., <b>Kyiv</b> 109 Podilska str., Khmelnytskyi</div>
                    <a href="tel:+38 044 3900439">+38 <b>044 3900439</b></a>
                </div>
            </div>
        </div>
    </div>
</div>