<div class="coop__over">
    <div class="mbox">
        <div class="coop">
            <div class="coop__col">
                <div class="coop__wrap">
                    <div class="title title--underline title--left">
                        <h2>About Company</h2>
                    </div>

                    <div class="coop__content">
                        <div class="coop__text">
                            Working with clients, the prioritiesarethe individual approach, the original design solutions for each individual product. The trade is conducted both
                            in retail outlets and on the website of an online store.
                        </div>
                        <div class="coop__text coop__text--bold">
                            The jewelry enterprise "Onix" successfully works in the Ukrainian market already more than 25 years it has taken part in more than 30 international exhibitions.
                        </div>
                        <div class="coop__company">
                            <a href="#">oniks-online.com.ua</a>
                            <div class="coop__image">
                                <img src="images/onix_c.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="coop__col coop__col--team">
                <div class="coop__wrap">
                    <div class="title title--underline title--white title--right">
                        <h2>Project Team</h2>
                    </div>
                    <div class="coop__content coop__content--team">
                        <div class="blogitem__author">
                            <div class="blogitem__name">
                                <h5>Viktor</h5>
                                <p>Backend TeamLead</p>
                            </div>
                            <div class="blogitem__photo">
                                <img src="images/vyacheslav.jpg" alt="" datadata-object-fit="cover">
                            </div>
                        </div>
                        <div class="blogitem__author">
                            <div class="blogitem__name">
                                <h5>Serhiy</h5>
                                <p>Backend TeamLead</p>
                            </div>
                            <div class="blogitem__photo">
                                <img src="images/vyacheslav.jpg" alt="" datadata-object-fit="cover">
                            </div>
                        </div>
                        <div class="blogitem__author">
                        <div class="blogitem__name">
                            <h5>Alexander</h5>
                            <p>Backend TeamLead</p>
                        </div>
                        <div class="blogitem__photo">
                            <img src="images/vyacheslav.jpg" alt="" datadata-object-fit="cover">
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>