<!-- HEADER -->
<header>
    <div class="mbox">
        <div class="header">
            <div class="menu">
                <button type="button" class="menu__butter js-rel-btn" data-rel="main"><span></span><span></span><span></span></button>
            </div>
            <a href="index.html" class="header__logo">
                <svg id="logo-outline"> <use xlink:href="#logo"></use> </svg>
                <svg id="logo-color"> <use xlink:href="#logo-colored"></use> </svg>
            </a>
            <div class="header__nav">
                <a href="#">Bitrix24</a>
                <a href="#">Cases</a>
                <a href="#">Applications</a>
                <a href="#">Blog</a>
                <a href="#">Contacts</a>
            </div>
            <div class="header__tel">
                <a href="tel:+380682020200"><svg><use xlink:href="#phone2"></use></svg><span>+38 068 20 20 200</span></a>
            </div>
            <div class="header__btn">
                <a href="#" class="button button--red js-rel-btn" data-rel="order"><span>ORDER A PROJECT</span></a>
            </div>
            <div class="header__lang">
                <select name="" id="" class="js-select-lang">
                    <option value="ru">ru</option>
                    <option value="ua">ua</option>
                    <option value="en">en</option>
                </select>
            </div>
        </div>
    </div>
</header>
<!-- /HEADER -->

