<div class="mainbanner" style="background-image: url(https://upload.wikimedia.org/wikipedia/ru/3/30/Izumrud_Astana_2015.jpg);">
    <div class="mbox">
        <div class="mainbanner__text">
            <div class="title title--white">
                <h2>Bitrix24 CRM Development <br>
                    and Customization</h2>
            </div>
            <div class="mainbanner__special">
                <a href="#anchor-callback" class="button anchor-btn"><span>GET FREE CONSULTATION</span></a>
                <div class="onlymob-992">
                    <a href="#" class="button button--red js-rel-btn" data-rel="order"><span>ORDER A PROJECT</span></a>
                </div>
            </div>
        </div>
    </div>
</div>