<!--menus-->
<div class="menu__hiden">
    <div class="menu__box js-rel-box" data-rel="main">
        <div class="mbox">

            <div class="menu__top">
                <div class="menu__close js-rel-close"><span></span><span></span></div>
                <a href="#" class="menu__logo">
                    <svg><use xlink:href="#logo"></use></svg>
                </a>
                <div class="socials">
                    <a href="#" class="social__btn"><svg><use xlink:href="#soc-facebook"></use></svg></a>
                    <a href="#" class="social__btn"><svg><use xlink:href="#soc-instagram"></use></svg></a>
                    <a href="#" class="social__btn"><svg><use xlink:href="#soc-linkedin"></use></svg></a>
                    <a href="#" class="social__btn"><svg><use xlink:href="#soc-youtube"></use></svg></a>
                    <a href="#" class="social__btn"><svg><use xlink:href="#soc-twitter"></use></svg></a>
                    <a href="#" class="social__btn"><svg><use xlink:href="#soc-google"></use></svg></a>
                </div>
                <div class="languages">
                    <a href="#"><span>RU</span></a>
                    <a href="#"><span>UKR</span></a>
                    <a href="#"><span>POL</span></a>
                    <a href="#"><span>ENG</span></a>
                    <a href="#"><span>DE</span></a>
                </div>
            </div>
        </div>
        <div class="mbox">
            <div class="menu__content">
                <a href="#">Bitrix24</a>
                <a href="#">Cases</a>
                <a href="#">Applications</a>
                <a href="#">Blog</a>
                <a href="">Team</a>
                <a href="">Career</a>
                <a href="">Contacts</a>
            </div>
        </div>
        <div class="menu__bottom">
            <div class="mbox">
                <div class="menu__bottom-wrap">
                    <div class="menu__address">
                        <svg><use xlink:href="#marker"></use></svg>
                        <div class="menu__address-txt">
                            <b>Киев</b>
                            <p>Днепровская набережная, 13</p>
                        </div>
                        <div class="menu__address-txt">
                            <b>Хмельницкий</b>
                            <p>Подольская, 109</p>
                        </div>
                    </div>
                    <a href="#" class="menu__phone"><svg><use xlink:href="#phone"></use></svg>+38 <b>044 39 00 439</b></a>
                    <a href="#" class="menu__mail"><svg><use xlink:href="#mail"></use></svg>office@avivi.ua</a>
                </div>
            </div>
        </div>
    </div>
    <div class="menu__box js-rel-box" data-rel="order">
        <div class="mbox">
            <div class="menu__top menu__top--solologo">
                <a href="#" class="menu__logo menu__logo--solologo">
                    <svg><use xlink:href="#logo"></use></svg>
                </a>
                <div class="menu__close menu__close--solologo js-rel-close"><span></span><span></span></div>
            </div>
        </div>
        <div class="mbox">
            <div class="order__form">
                <div class="title title--white">
                    <h2>Order a Project</h2>
                </div>
                <form  id="order-form">
                    <div class="callback__row form_row">
                        <div class="callback__input form_input">
                            <input type="text" required="required" name="name" placeholder="ФИО"  >
                        </div>
                        <div class="callback__input form_input">
                            <input type="text" required="required" class="tel-mask" name="tel" placeholder="Телефон" >
                        </div>
                        <div class="callback__input form_input">
                            <input type="email" required="required" name="mail" placeholder="Почта"  >
                        </div>
                    </div>
                    <div class="callback__row form_row">
                        <div class="callback__input callback__input--100 form_input">
                            <textarea  placeholder="сообщение" ></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="order__bottom">
            <div class="order__files">
                <div class="mbox">
                    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

                    <div class="order__files-wrap">
                        <div class="g-recaptcha" data-sitekey="your_site_key"></div>
                        <div class="order__upload">
                            <label>
                                <svg><use xlink:href="#plus"></use></svg>
                                <input type="file" name="user_file[]" id="file"  class="inputfile">
                                <span>You can attach more files</span>
                            </label>
                        </div>
                        <div class="order__uploaded">

                        </div>
                    </div>

                </div>
            </div>
            <button class="button" type="button" onclick="$(this).closest('.js-rel-box').find('form').submit()"><span>submit</span></button>
        </div>
    </div>
    <div class="menu__box js-rel-box" data-rel="order-self-hosted">
        <div class="mbox">
            <div class="menu__top menu__top--solologo">
                <a href="#" class="menu__logo menu__logo--solologo">
                    <svg><use xlink:href="#logo"></use></svg>
                </a>
                <div class="menu__close menu__close--solologo js-rel-close"><span></span><span></span></div>
            </div>
        </div>
        <div class="mbox">
            <div class="order__form">
                <div class="title title--white">
                    <h2>Order Self Hosted</h2>
                </div>
                <form  id="order-form-self-hosted">
                    <div class="callback__row form_row">
                        <div class="callback__input form_input">
                            <input type="text" required="required" name="name" placeholder="ФИО"  >
                        </div>
                        <div class="callback__input form_input">
                            <input type="text" required="required" class="tel-mask" name="tel" placeholder="Телефон" >
                        </div>
                        <div class="callback__input form_input">
                            <input type="email" required="required" name="mail" placeholder="Почта"  >
                        </div>
                    </div>
                    <div class="callback__row form_row">
                        <div class="callback__input callback__input--100 form_input">
                            <textarea  placeholder="сообщение" ></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="order__bottom">
            <div class="order__files">
                <div class="mbox">
                    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

                    <div class="order__files-wrap">
                        <div class="g-recaptcha" data-sitekey="your_site_key"></div>
                        <div class="order__upload">
                            <label>
                                <svg><use xlink:href="#plus"></use></svg>
                                <input type="file" name="user_file[]" id="file"  class="inputfile">
                                <span>You can attach more files</span>
                            </label>
                        </div>
                        <div class="order__uploaded">

                        </div>
                    </div>

                </div>
            </div>
            <button class="button" type="button" onclick="$(this).closest('.js-rel-box').find('form').submit()"><span>submit</span></button>
        </div>
    </div>
    <div class="menu__box js-rel-box" data-rel="thxmessage">
        <div class="mbox">
            <div class="menu__top menu__top--solologo">
                <a href="#" class="menu__logo menu__logo--solologo">
                    <svg><use xlink:href="#logo"></use></svg>
                </a>
                <div class="menu__close menu__close--solologo js-rel-close"><span></span><span></span></div>
            </div>
        </div>
        <div class="mbox">
            <div class="order__form">
                <div class="title title--white title--underline">
                    <h2>Thank you <br> for being awesome!</h2>
                </div>
                <div class="thanks__text">
                    <p><b>We have received your message and would like to thank you for writing to us. <br> </b>
                    If your inquiry is urgent, please use the telephone number listed below <br>
                    to talk to one of our staff members.</p>
                    <br>
                    <p><b>We will reply by email as soon as possible.</b></p>
                </div>
            </div>
        </div>
        <div class="order__bottom">

        </div>
    </div>

    <div class="menu__box js-rel-box" data-rel="buy-some">
        <div class="mbox">
            <div class="menu__top menu__top--solologo">
                <a href="#" class="menu__logo menu__logo--solologo">
                    <svg><use xlink:href="#logo"></use></svg>
                </a>
                <div class="menu__close menu__close--solologo js-rel-close"><span></span><span></span></div>
            </div>
        </div>
        <div class="mbox">
            <div class="order__form">
                <div class="title title--white">
                    <h2>Time and Project Report PRO</h2>
                </div>
                <div class="thanks__text">
                    <p>You are going to purchase the ability to use our application for Bitrix24 from Avivi Company.
                        <br>
                        <b> Please use the form below to proceed.</b></p>
                    <br>
                </div>
                <form  id="buy-form">
                    <div class="callback__row form_row">
                        <div class="callback__input form_input">
                            <input type="text" required="required" name="name" placeholder="Name"  >
                        </div>
                        <div class="callback__input form_input">
                            <input type="email" required="required" name="mail" placeholder="E-mail"  >
                        </div>
                        <div class="callback__input form_input">
                            <input type="text" required="required" name="b-address" placeholder="Bitrix24 portal`s address"  >
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="order__bottom order__bottom--styled">
            <div class="order__files">
                <div class="mbox">
                    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

                    <div class="order__files-wrap">
                        <button class="button button--full" type="button" onclick="$(this).closest('.js-rel-box').find('form').submit()"><span>buy</span></button>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="menu__box js-rel-box" data-rel="thxmessage-buy">
        <div class="mbox">
            <div class="menu__top menu__top--solologo">
                <a href="#" class="menu__logo menu__logo--solologo">
                    <svg><use xlink:href="#logo"></use></svg>
                </a>
                <div class="menu__close menu__close--solologo js-rel-close"><span></span><span></span></div>
            </div>
        </div>
        <div class="mbox">
            <div class="order__form">
                <div class="title title--white title--underline">
                    <h2>Thanks for using our application!</h2>
                </div>
                <div class="thanks__text">
                    <p>We are sure that this will improve your business. <br>
                       <b> You can also try other Avivi applications for Bitrix24.</b></p>
                </div>

            </div>
        </div>
        <div class="order__files order__files--styled">
            <div class="order__slider">
                <div class="appslider js-appslider">
                    <div>
                        <a href="#" class="appslider__slide">
                            <img src="images/help_desk.png" alt="">
                            <img src="images/help_desk_hover.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="#" class="appslider__slide">
                            <img src="images/easy_leave.png" alt="">
                            <img src="images/easy_leave_hover.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="#" class="appslider__slide">
                            <img src="images/news_list.png" alt="">
                            <img src="images/news_list_hover.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="#" class="appslider__slide">
                            <img src="images/crm_proj.png" alt="">
                            <img src="images/crm_proj_hover.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="#" class="appslider__slide">
                            <img src="images/crm_proj.png" alt="">
                            <img src="images/crm_proj_hover.png" alt="">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<!--end menus-->