<ul class="paginator">
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#" class="active">4</a></li>
    <li><a href="#">...</a></li>
    <li><a href="#">179</a></li>
</ul>