<section class="someblock">
    <div class="mbox">
        <div class="title title--underline">
            <h2>Take a Look</h2>
        </div>
    </div>
    <div class="case">
        <div class="pentaslider js-pentaslider">
            <div class="pentaslider__slide"><a href="images/ps_1.jpg" data-fancybox="g-case"><img src="images/ps_1.jpg" alt=""></a></div>
            <div class="pentaslider__slide"><a href="images/ps_1.jpg" data-fancybox="g-case"><img src="images/ps_1.jpg" alt=""></a></div>
            <div class="pentaslider__slide"><a href="images/ps_1.jpg" data-fancybox="g-case"><img src="images/ps_1.jpg" alt=""></a></div>
            <div class="pentaslider__slide"><a href="images/ps_1.jpg" data-fancybox="g-case"><img src="images/ps_1.jpg" alt=""></a></div>
            <div class="pentaslider__slide"><a href="images/ps_1.jpg" data-fancybox="g-case"><img src="images/ps_1.jpg" alt=""></a></div>
            <div class="pentaslider__slide"><a href="images/ps_1.jpg" data-fancybox="g-case"><img src="images/ps_1.jpg" alt=""></a></div>
        </div>
    </div>

</section>



