<section class="grey-bg someblock">
    <div class="mbox">
        <div class="title title--underline">
            <h2>The Result</h2>
        </div>
        <div class="the-result">
            <div class="the-result__wrap">
                <div class="the-result__item">
                    <div class="the-result__icon">
                        <img src="https://cdn1.iconfinder.com/data/icons/ninja-things-1/1772/ninja-simple-512.png" alt="pic" data-object-fit="contain">
                    </div>

                    <div class="the-result__text">
                        <p><b>The Automation</b> of order processing
                            has reduced the time spent
                            by managers on working with
                            clients and the warehouse</p>
                    </div>
                </div>
                <div class="the-result__item">
                    <div class="the-result__icon">
                        <img src="https://cdn1.iconfinder.com/data/icons/ninja-things-1/1772/ninja-simple-512.png" alt="pic" data-object-fit="contain">
                    </div>
                    <div class="the-result__text">
                        <p>The interaction of employees of different warehouses with each other and with managers <b>was clearly structured</b>
                            due to Kanban</p>

                    </div>
                </div>
                <div class="the-result__item">
                    <div class="the-result__icon">
                        <img src="https://cdn1.iconfinder.com/data/icons/ninja-things-1/1772/ninja-simple-512.png" alt="pic" data-object-fit="contain">
                    </div>
                    <div class="the-result__text">
                        <p>The "Weaknesses" in the management system were eliminated, the possibility of <b> using effectively the instruments</b>
                            of marketing has appeared</p>

                    </div>
                </div>
            </div>
            <div class="the-result__button">
                <a href="#" class="button button--red js-rel-btn" data-rel="order"><span>ORDER A PROJECT</span></a>
            </div>
        </div>
    </div>
</section>