<div class="similar">
    <a href="#" class="similar__item">
        <div class="similar__img">
            <img src="https://avivi.pro/upload/iblock/ef3/ef3ab60584b3e3fe3ed8cb9fb760aaa8.png" alt="" data-object-fit="cover">
        </div>
        <div class="similar__title">
            Pros and Cons of Standard Marketplace
            Solutions for Website Development
        </div>
    </a>
    <a href="#" class="similar__item">
        <div class="similar__img">
            <img src="https://avivi.pro/upload/iblock/ef3/ef3ab60584b3e3fe3ed8cb9fb760aaa8.png" alt="" data-object-fit="cover">
        </div>
        <div class="similar__title">
            Pros and Cons of Standard Marketplace
            Solutions for Website Development
        </div>
    </a>
    <a href="#" class="similar__item">
        <div class="similar__img">
            <img src="https://avivi.pro/upload/iblock/ef3/ef3ab60584b3e3fe3ed8cb9fb760aaa8.png" alt="" data-object-fit="cover">
        </div>
        <div class="similar__title">
            Pros and Cons of Standard Marketplace
            Solutions for Website Development
        </div>
    </a>
</div>