<section class="cases-slider grey-bg">
    <div class="title">
        <h2>Сделано в Avivi</h2>
    </div>
    <div class="slider__wrapper">
        <div class="mbox">
            <div class="slider">
                <div class="slide">
                    <div class="slide__box">
                        <div class="slide__header">
                            Wertgarantie Gmbh
                        </div>
                        <div class="slide__description">
                            Создан корпоративный портал в фирменном стиле для немецкой
                            компании, настроен основной и дополнительный функционал
                            под потребности заказчика.
                        </div>
                        <div class="slide__image">
                            <img src="images/case_1.png" alt="photo">
                        </div>
                        <div class="slide__buttons">
                            <a href="#">www.wertgarantie.de</a>
                            <button type="button" class="button"> <span>Подробнее</span> </button>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide__box">
                        <div class="slide__header">
                            #MBocharova
                        </div>
                        <div class="slide__description">
                            Создан корпоративный портал в фирменном стиле для немецкой
                            компании, настроен основной и дополнительный функционал
                            под потребности заказчика.
                        </div>
                        <div class="slide__image">
                            <img src="images/case_2.png" alt="photo">
                        </div>
                        <div class="slide__buttons">
                            <a href="#">www.qwertybest.ok</a>
                            <button type="button" class="button"> <span>Подробнее</span> </button>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide__box">
                        <div class="slide__header">
                            Pollardi
                        </div>
                        <div class="slide__description">
                            Создан корпоративный портал в фирменном стиле для немецкой
                            компании, настроен основной и дополнительный функционал
                            под потребности заказчика.
                        </div>
                        <div class="slide__image">
                            <img src="images/case_3.png" alt="photo">
                        </div>
                        <div class="slide__buttons">
                            <a href="#">www.qwertybest.ok</a>
                            <button type="button" class="button"> <span>Подробнее</span> </button>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide__box">
                        <div class="slide__header">
                            Dveej.ua
                        </div>
                        <div class="slide__description">
                            Создан корпоративный портал в фирменном стиле для немецкой
                            компании, настроен основной и дополнительный функционал
                            под потребности заказчика.
                        </div>
                        <div class="slide__image">
                            <img src="images/case_1.png" alt="photo">
                        </div>
                        <div class="slide__buttons">
                            <a href="#">www.qwertybest.ok</a>
                            <button type="button" class="button"> <span>Подробнее</span> </button>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide__box">
                        <div class="slide__header">
                            Hop-hey.lalaley
                        </div>
                        <div class="slide__description">
                            Создан корпоративный портал в фирменном стиле для немецкой
                            компании, настроен основной и дополнительный функционал
                            под потребности заказчика.
                        </div>
                        <div class="slide__image">
                            <img src="images/case_2.png" alt="photo">
                        </div>
                        <div class="slide__buttons">
                            <a href="#">www.qwertybest.ok</a>
                            <button type="button" class="button"> <span>Подробнее</span> </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slider__controllers">
        <div class="mbox">
            <div class="slider__control">
                <button type="button" class="button button--bordered button--arrow back js-show-prev"><span></span></button>
                <button type="button" class="button button--bordered"><span>все кейсы</span></button>
                <button type="button" class="button button--bordered button--arrow forward js-show-next"><span></span></button>
            </div>
        </div>
    </div>
</section>