<section class="someblock">
    <div class="mbox">
        <div class="title title--underline">
            <h2>Task</h2>
        </div>
        <div class="task">
            <div class="solution__wrap">
                <div class="solution__col">
                    <div class="task__image">
                        <img src="images/onix.jpg" alt="">
                    </div>
                </div>
                <div class="solution__col">
                    <div class="solution__text">
                        <p>During the integration of Bitrix24 our managers have automated
                            the processes of accepting and processing orders, as well as notifying customers. This made possible to identify the weaknesses of management
                            in the enterprise, which were not initially in the field of view
                            of the customer. The integration of CRM with Rozetka and Nova Poshta logistics platforms was carried out. Our team carried
                            out work on the customization of Kanban for the warehouses:
                            the images of goods were added to product cards, which
                            significantly accelerated the processes of interaction between departments of the enterprise.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
