<div class="team">

        <div class="title title--underline">
            <h2>Team</h2>
        </div>
        <div class="team__desc">
            Meet the team of Avivi! Of course, this is not a complete list. Designers and developers are relentlessly working for your success! Here you can find people, who will become reliable partners and guides during the implementation of your projects.
        </div>
        <div class="team__box">
            <div class="team__slide">
                <div class="mate">
                    <div class="mate__photo">
                        <img src="images/vyacheslav.jpg" alt="" data-object-fit="cover">
                    </div>
                    <div class="mate__name">Vyacheslav</div>
                    <div class="mate__position">CEO</div>
                    <a href="mailto:hello@avivi.pro" class="mate__mail">
                        <div class="mate__image">
                            <svg><use xlink:href="#mail"></use></svg>
                        </div>
                        <span>hello@avivi.pro</span>
                    </a>
                </div>
            </div>
            <div class="team__slide">
                <div class="mate">
                    <div class="mate__photo">
                        <img src="images/ivan.jpg" alt="">
                    </div>
                    <div class="mate__name">Ivan</div>
                    <div class="mate__position">COO</div>
                    <a href="mailto:bitrix@avivi.pro" class="mate__mail">
                        <div class="mate__image">
                            <svg width="37" height="29">
                                <use xlink:href="#mail"></use>
                            </svg>
                        </div>
                        <span>bitrix@avivi.pro</span>
                    </a>
                </div>
            </div>
            <div class="team__slide">
                <div class="mate">
                    <div class="mate__photo">
                        <img src="images/alex.jpg" alt="">
                    </div>
                    <div class="mate__name">Alex</div>
                    <div class="mate__position">COO</div>
                    <a href="mailto:a.kovbasiuk@avivi.pro" class="mate__mail">
                        <div class="mate__image">
                            <svg width="37" height="29">
                                <use xlink:href="#mail"></use>
                            </svg>
                        </div>
                        <span>a.kovbasiuk@avivi.pro</span>
                    </a>
                </div>
            </div>
            <div class="team__slide">
                <div class="mate">
                    <div class="mate__photo">
                        <img src="images/alexandr.jpg" alt="">
                    </div>
                    <div class="mate__name">Alexander</div>
                    <div class="mate__position">Project Manager</div>
                    <a href="mailto:a.marchuk@avivi.pro" class="mate__mail">
                        <div class="mate__image">
                            <svg width="37" height="29">
                                <use xlink:href="#mail"></use>
                            </svg>
                        </div>
                        <span>a.marchuk@avivi.pro</span>
                    </a>
                </div>
            </div>
            <div class="team__slide">
                <div class="mate">
                    <div class="mate__photo">
                        <img src="images/mary.jpg" alt="">
                    </div>
                    <div class="mate__name">Mary</div>
                    <div class="mate__position">Project Manager</div>
                    <a href="mailto:maria.chernetska@avivi.pro" class="mate__mail">
                        <div class="mate__image">
                            <svg width="37" height="29">
                                <use xlink:href="#mail"></use>
                            </svg>
                        </div>
                        <span>maria.chernetska@avivi.pro</span>
                    </a>
                </div>
            </div>
            <div class="team__slide">
                <div class="mate">
                    <div class="mate__photo">
                        <img src="images/roman.jpg" alt="">
                    </div>
                    <div class="mate__name">Roman</div>
                    <div class="mate__position">Project Manager</div>
                    <a href="mailto:lysak@avivi.pro" class="mate__mail">
                        <div class="mate__image">
                            <svg width="37" height="29">
                                <use xlink:href="#mail"></use>
                            </svg>
                        </div>
                        <span>lysak@avivi.pro</span>
                    </a>
                </div>
            </div>
            <div class="team__slide">
                <div class="mate">
                    <div class="mate__photo">
                        <img src="images/jana.jpg" alt="">
                    </div>
                    <div class="mate__name">Jana</div>
                    <div class="mate__position">Project Manager</div>
                    <a href="mailto:jana.gomonaj@avivi.pro" class="mate__mail">
                        <div class="mate__image">
                            <svg width="37" height="29">
                                <use xlink:href="#mail"></use>
                            </svg>
                        </div>
                        <span>jana.gomonaj@avivi.pro</span>
                    </a>
                </div>
            </div>
            <div class="team__slide">
                <div class="mate">
                    <div class="mate__photo">
                        <img src="images/slava.jpg" alt="">
                    </div>
                    <div class="mate__name">Vyacheslav</div>
                    <div class="mate__position">PR</div>
                    <a href="mailto:vyacheslav.Nahnybida@avivi.pro" class="mate__mail">
                        <div class="mate__image">
                            <svg width="37" height="29">
                                <use xlink:href="#mail"></use>
                            </svg>
                        </div>
                        <span>vyacheslav.Nahnybida@avivi.pro</span>
                    </a>
                </div>
            </div>
            <div class="team__slide">
                <div class="mate">
                    <div class="mate__photo">
                        <img src="images/vlad.jpg" alt="">
                    </div>
                    <div class="mate__name">Vlad</div>
                    <div class="mate__position">Lead Generator</div>
                    <a href="mailto:v.muliar@avivi.pro" class="mate__mail">
                        <div class="mate__image">
                            <svg width="37" height="29">
                                <use xlink:href="#mail"></use>
                            </svg>
                        </div>
                        <span>v.muliar@avivi.pro</span>
                    </a>
                </div>
            </div>
        </div>
</div>