<section class="someblock">
    <div class="mbox">
        <div class="title title--underline">
            <h2>Testimonial</h2>
        </div>
        <div class="testimonial">
            <div class="testimonial__text">
                <p><b>We would like to manifest our appreciation for the website Avivi created for us!</b></p>
                <p>Huge gratitude to Project Manager Alexei for his competent guidance. We were provided with well-defined tasks, and a detailed action plan from the beginning, with a quality and result-oriented approach. It is a pleasure to work with punctual and responsible people. The result was appealing, not to mention that it was performed on schedule! I encourage everyone to visit our website pollardi.ru and get a glimpse of its many functionalities!	</p>
            </div>
            <div class="testimonial__guy">
                <div class="testimonial__photo">
                    <img src="images/vyacheslav.jpg" alt="" datadata-object-fit="cover">
                </div>
                <div class="testimonial__who">
                    <h5>Julia Narolskaya</h5>
                    <p>Site manager at <a href="#">Pollardi.com</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
