//= partials/head.html
<div class="simple">
    //= partials/header.html
</div>
<div class="mbox">
    //= partials/breadcrumbs.html
</div>

<div class="mbox">
    <div class="apptitle">
        <div class="apptitle__img">
            <img src="images/app-s01.png" alt="">
        </div>
        <div class="apptitle__text">
            <h2>Time & Reports <span style="color: #f00;">PRO</span></h2>
            <div class="applist__summary">
                <p><b>Версии:</b> облако, коробка</p>
                <div class="applist__prices">
                    <div class="applist__decimals">4.99$</div>
                    <div class="applist__when">
                        <span>month</span>
                        <span>portal</span>
                    </div>
                </div>
            </div>
            <div class="button-same-width ">
                <a href="#" class="button button--full"><span>try</span></a>
                <a href="#" class="button button--red button--full"><span>buy</span></a>
            </div>
        </div>
    </div>
</div>
<section class="grey-bg someblock js-showmore-box">
    <div class="mbox">
        <div class="title title--underline">
            <h2>App Description</h2>
        </div>
        <div class="someblock__text-black">
            <p>В постановке задач приложение <b>“Отчеты по времени и проектам” </b>может предоставить статистику, с кем именно работает менеджер и с каким отделом сотрудничает чаще всего. Эта информация позволит оценивать <b>эффективность планирования</b> времени для выполнения задач. Также доступна фильтрация отчетов по тегам для более гибкой отчетности в каждой отдельной компании. Это позволит создать наиболее точный запрос от руководителя проекта для получения нужной статистической информации. </p>
        </div>
        <div class="someblock__text-black js-showmore-hid">
            <p> В любой момент отчетность может быть выгружена в файл таблиц Microsoft Excel.
            При любых изменениях в запросе, отчет конвертируется в отдельную электронную таблицу. Приложение “Отчеты по времени и проектам” от компании Авиви нацелено на объективный сбор статистической информации от каждого сотрудника.  люди самостоятельно могут контролировать затраты своего времени, следить за строками и, как следствие - самомотивироваться
            и неустанно развиваться.</p><p> До каждого сотрудника очень важно донести мысль — это не тотальный контроль, а лишь инструмент, который напротив облегчит и улучшит вовлечение в трудовые процессы, станет отличным организационным элементом и мотивацией для работы ещё лучше и больше. Приложение имеет простое и интуитивно понятное каждому менеджеру управление. </p>
        </div>
        <div class="morebtn">
            <a href="#" class="js-showmore-btn"><span>more</span><svg><use xlink:href="#morearrow"></use></svg></a>
        </div>
    </div>
</section>
<section class=" someblock js-showmore-box">
    <div class="mbox">
        <div class="title title--underline">
            <h2>Take a Look</h2>
        </div>
         <div class="someblock__flexrow">
            <a href="https://upload.wikimedia.org/wikipedia/ru/3/30/Izumrud_Astana_2015.jpg" data-fancybox="gal01" class="screenshot"> <img src="https://upload.wikimedia.org/wikipedia/ru/3/30/Izumrud_Astana_2015.jpg" alt=""> <svg><use xlink:href="#plus"></use></svg> </a>
            <a href="https://upload.wikimedia.org/wikipedia/ru/3/30/Izumrud_Astana_2015.jpg" data-fancybox="gal01" class="screenshot"> <img src="https://upload.wikimedia.org/wikipedia/ru/3/30/Izumrud_Astana_2015.jpg" alt=""> <svg><use xlink:href="#plus"></use></svg> </a>
            <a href="https://upload.wikimedia.org/wikipedia/ru/3/30/Izumrud_Astana_2015.jpg" data-fancybox="gal01" class="screenshot"> <img src="https://upload.wikimedia.org/wikipedia/ru/3/30/Izumrud_Astana_2015.jpg" alt=""> <svg><use xlink:href="#plus"></use></svg> </a>
            <a href="https://upload.wikimedia.org/wikipedia/ru/3/30/Izumrud_Astana_2015.jpg" data-fancybox="gal01" class="screenshot"> <img src="https://upload.wikimedia.org/wikipedia/ru/3/30/Izumrud_Astana_2015.jpg" alt=""> <svg><use xlink:href="#plus"></use></svg> </a>
            <a href="https://upload.wikimedia.org/wikipedia/ru/3/30/Izumrud_Astana_2015.jpg" data-fancybox="gal01" class="screenshot js-showmore-hid"> <img src="https://upload.wikimedia.org/wikipedia/ru/3/30/Izumrud_Astana_2015.jpg" alt=""> <svg><use xlink:href="#plus"></use></svg> </a>
            <a href="https://upload.wikimedia.org/wikipedia/ru/3/30/Izumrud_Astana_2015.jpg" data-fancybox="gal01" class="screenshot js-showmore-hid"> <img src="https://upload.wikimedia.org/wikipedia/ru/3/30/Izumrud_Astana_2015.jpg" alt=""> <svg><use xlink:href="#plus"></use></svg> </a>
            <a href="https://upload.wikimedia.org/wikipedia/ru/3/30/Izumrud_Astana_2015.jpg" data-fancybox="gal01" class="screenshot js-showmore-hid"> <img src="https://upload.wikimedia.org/wikipedia/ru/3/30/Izumrud_Astana_2015.jpg" alt=""> <svg><use xlink:href="#plus"></use></svg> </a>
            <a href="https://upload.wikimedia.org/wikipedia/ru/3/30/Izumrud_Astana_2015.jpg" data-fancybox="gal01" class="screenshot js-showmore-hid"> <img src="https://upload.wikimedia.org/wikipedia/ru/3/30/Izumrud_Astana_2015.jpg" alt=""> <svg><use xlink:href="#plus"></use></svg> </a>
            <a href="https://upload.wikimedia.org/wikipedia/ru/3/30/Izumrud_Astana_2015.jpg" data-fancybox="gal01" class="screenshot js-showmore-hid"> <img src="https://upload.wikimedia.org/wikipedia/ru/3/30/Izumrud_Astana_2015.jpg" alt=""> <svg><use xlink:href="#plus"></use></svg> </a>
            <a href="https://upload.wikimedia.org/wikipedia/ru/3/30/Izumrud_Astana_2015.jpg" data-fancybox="gal01" class="screenshot js-showmore-hid"> <img src="https://upload.wikimedia.org/wikipedia/ru/3/30/Izumrud_Astana_2015.jpg" alt=""> <svg><use xlink:href="#plus"></use></svg> </a>
            <a href="https://upload.wikimedia.org/wikipedia/ru/3/30/Izumrud_Astana_2015.jpg" data-fancybox="gal01" class="screenshot js-showmore-hid"> <img src="https://upload.wikimedia.org/wikipedia/ru/3/30/Izumrud_Astana_2015.jpg" alt=""> <svg><use xlink:href="#plus"></use></svg> </a>
            <a href="https://upload.wikimedia.org/wikipedia/ru/3/30/Izumrud_Astana_2015.jpg" data-fancybox="gal01" class="screenshot js-showmore-hid"> <img src="https://upload.wikimedia.org/wikipedia/ru/3/30/Izumrud_Astana_2015.jpg" alt=""> <svg><use xlink:href="#plus"></use></svg> </a>
         </div>

        <div class="morebtn">
            <a href="#" class="js-showmore-btn"><span>watch more</span><svg><use xlink:href="#morearrow"></use></svg></a>
        </div>
    </div>
</section>
<section class="someblock toper" style="background-image:url('images/qwe.jpg');">
    <div class="mbox">
        <div class="someblock__text">
            <div class="title title--underline title--white">
                <h2>Got an Idea for App?</h2>
            </div>
            <p>В постановке задач приложение “Отчеты по времени и проектам” может предоставить статистику,
                с кем именно работает менеджер и с каким отделом сотрудничает чаще всего.</p>
            <div class="someblock__row">
                <a href="#" class="button"><span>write us</span></a>
            </div>

        </div>
    </div>
</section>
<section class="someblock" >
    <div class="mbox">
        <div class="someblock__text">
            <div class="title title--underline">
                <h2>Other Our Apps</h2>
            </div>
            <div class="appslider js-appslider">
                <div>
                    <a href="#" class="appslider__slide">
                        <img src="images/help_desk.png" alt="">
                        <img src="images/help_desk_hover.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="#" class="appslider__slide">
                        <img src="images/easy_leave.png" alt="">
                        <img src="images/easy_leave_hover.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="#" class="appslider__slide">
                        <img src="images/news_list.png" alt="">
                        <img src="images/news_list_hover.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="#" class="appslider__slide">
                        <img src="images/crm_proj.png" alt="">
                        <img src="images/crm_proj_hover.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="#" class="appslider__slide">
                        <img src="images/crm_proj.png" alt="">
                        <img src="images/crm_proj_hover.png" alt="">
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
//= partials/footer2.html

