//= partials/head.html
<div class="simple">
    //= partials/header.html
</div>
<div class="mbox">
    //= partials/breadcrumbs.html
</div>
<div class="mbox">
    <div class="title title--underline">
        <h2>Apps</h2>
    </div>
    <div class="applist">
        <a href="#" class="applist__item-wrap">
            <div class="applist__item">
                <div class="applist__img">
                    <img src="images/app-s01.png" alt="">
                </div>
                <div class="applist__text">
                    Time Reports <span style="color: #f00;">PRO</span> -
                    Отчёты по времени
                    и проектам
                </div>
            </div>
        </a>
        <a href="#" class="applist__item-wrap">
            <div class="applist__item">
                <div class="applist__img">
                    <img src="images/app-s01.png" alt="">
                </div>
                <div class="applist__text">
                    Easy Leave поможет
                    вам увольнять
                    всех и вся!
                </div>
            </div>
        </a>
        <a href="#" class="applist__item-wrap">
            <div class="applist__item">
                <div class="applist__img">
                    <img src="images/app-s01.png" alt="">
                </div>
                <div class="applist__text">
                    Новое преложение
                    Help Desk для
                    оптимизации
                </div>
            </div>
        </a>
        <a href="#" class="applist__item-wrap">
            <div class="applist__item">
                <div class="applist__img">
                    <img src="images/app-s01.png" alt="">
                </div>
                <div class="applist__text">
                    News List
                    для отслеживания
                    всех новостей Bitrix
                </div>
            </div>
        </a>
    </div>

</div>
 
//= partials/footer2.html

