//= partials/head.html
//= partials/header.html
<div class="toper" style="background-image:url('images/qwe.jpg');">
    <div class="mbox">
        <div class="toper__text">
            <div class="title title--white">
                <h1>Bitrix24 - CRM for <br>
                    Corporate Portal Solution</h1>
            </div>

            <div class="mainbanner__special">
                <a href="#" class="button"><span>start for free</span></a>
                <div class="onlymob-992">
                    <a href="#" class="button button--red js-rel-btn" data-rel="order"><span>ORDER A PROJECT</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mbox">
    //= partials/breadcrumbs.html
</div>
<section class="features">
    <div class="mbox">
        <div class="title title--underline">
            <h2>Bitrix24 Features</h2>
        </div>
        <div class="team__desc">Bitrix24 is a huge set of tools that will assist you in working <br>
            more efficiently and building your business wisely
        </div>
        <div class="features__slider js-resize-slider">
            <div class="features__slide">
                <div class="features__item">
                    <div class="features__icon">
                        <svg><use xlink:href="#media"></use></svg>
                    </div>
                    <div class="features__title">Company Intranet</div>
                    <div class="features__hover">
                        <h5>Company Intranet</h5>
                        <p>Connect telephony or set up your own PBX. Bitrix24 provides an extensive range of opportunities
                            for using telephony. Performing calls to both landlines and cell phones directly from the CRM</p>
                    </div>
                </div>
            </div>
            <div class="features__slide">
                <div class="features__item">
                    <div class="features__icon">
                        <svg><use xlink:href="#scheme"></use></svg>
                    </div>
                    <div class="features__title">CRM</div>
                    <div class="features__hover">
                        <h5>Company Intranet</h5>
                        <p>Connect telephony or set up your own PBX. Bitrix24 provides an extensive range of opportunities
                            for using telephony. Performing calls to both landlines and cell phones directly from the CRM</p>
                    </div>
                </div>
            </div>
            <div class="features__slide">
                <div class="features__item">
                    <div class="features__icon">
                        <svg><use xlink:href="#pentable"></use></svg>
                    </div>
                    <div class="features__title">Documents</div>
                    <div class="features__hover">
                        <h5>Company Intranet</h5>
                        <p>Connect telephony or set up your own PBX. Bitrix24 provides an extensive range of opportunities
                            for using telephony. Performing calls to both landlines and cell phones directly from the CRM</p>
                    </div>
                </div>
            </div>
            <div class="features__slide">
                <div class="features__item">
                    <div class="features__icon">
                        <svg><use xlink:href="#tasks"></use></svg>
                    </div>
                    <div class="features__title">Projects and Tasks</div>
                    <div class="features__hover">
                        <h5>Company Intranet</h5>
                        <p>Connect telephony or set up your own PBX. Bitrix24 provides an extensive range of opportunities
                            for using telephony. Performing calls to both landlines and cell phones directly from the CRM</p>
                    </div>
                </div>
            </div>
            <div class="features__slide">
                <div class="features__item">
                    <div class="features__icon">
                        <svg><use xlink:href="#telephony"></use></svg>
                    </div>
                    <div class="features__title">Telephony</div>
                    <div class="features__hover">
                        <h5>Company Intranet</h5>
                        <p>Connect telephony or set up your own PBX. Bitrix24 provides an extensive range of opportunities
                            for using telephony. Performing calls to both landlines and cell phones directly from the CRM</p>
                    </div>
                </div>
            </div>
            <div class="features__slide">
                <div class="features__item">
                    <div class="features__icon">
                        <svg><use xlink:href="#chat"></use></svg>
                    </div>
                    <div class="features__title">Messenger</div>
                    <div class="features__hover">
                        <h5>Company Intranet</h5>
                        <p>Connect telephony or set up your own PBX. Bitrix24 provides an extensive range of opportunities
                            for using telephony. Performing calls to both landlines and cell phones directly from the CRM</p>
                    </div>
                </div>
            </div>
            <div class="features__slide">
                <div class="features__item">
                    <div class="features__icon">
                        <svg><use xlink:href="#app"></use></svg>
                    </div>
                    <div class="features__title">Mobile App</div>
                    <div class="features__hover">
                        <h5>Company Intranet</h5>
                        <p>Connect telephony or set up your own PBX. Bitrix24 provides an extensive range of opportunities
                            for using telephony. Performing calls to both landlines and cell phones directly from the CRM</p>
                    </div>
                </div>
            </div>
            <div class="features__slide">
                <div class="features__item">
                    <div class="features__icon">
                        <svg><use xlink:href="#calendar"></use></svg>
                    </div>
                    <div class="features__title">Calendars</div>
                    <div class="features__hover">
                        <h5>Company Intranet</h5>
                        <p>Connect telephony or set up your own PBX. Bitrix24 provides an extensive range of opportunities
                            for using telephony. Performing calls to both landlines and cell phones directly from the CRM</p>
                    </div>
                </div>
            </div>
            <div class="features__slide">
                <div class="features__item">
                    <div class="features__icon">
                        <svg><use xlink:href="#videochat"></use></svg>
                    </div>
                    <div class="features__title">HR Tools</div>
                    <div class="features__hover">
                        <h5>Company Intranet</h5>
                        <p>Connect telephony or set up your own PBX. Bitrix24 provides an extensive range of opportunities
                            for using telephony. Performing calls to both landlines and cell phones directly from the CRM</p>
                    </div>
                </div>
            </div>
            <div class="features__slide">
                <div class="features__item">
                    <div class="features__icon">
                        <svg><use xlink:href="#drive"></use></svg>
                    </div>
                    <div class="features__title">Bitrix24 Drive</div>
                    <div class="features__hover">
                        <h5>Company Intranet</h5>
                        <p>Connect telephony or set up your own PBX. Bitrix24 provides an extensive range of opportunities
                            for using telephony. Performing calls to both landlines and cell phones directly from the CRM</p>
                    </div>
                </div>
            </div>
            <div class="features__slide">
                <div class="features__item">
                    <div class="features__icon">
                        <svg><use xlink:href="#mailesend"></use></svg>
                    </div>
                    <div class="features__title">Mail Service</div>
                    <div class="features__hover">
                        <h5>Company Intranet</h5>
                        <p>Connect telephony or set up your own PBX. Bitrix24 provides an extensive range of opportunities
                            for using telephony. Performing calls to both landlines and cell phones directly from the CRM</p>
                    </div>
                </div>
            </div>
            <div class="features__slide">
                <div class="features__item">
                    <div class="features__icon">
                        <svg><use xlink:href="#crm2"></use></svg>
                    </div>
                    <div class="features__title">CRM-Marketing</div>
                    <div class="features__hover">
                        <h5>Company Intranet</h5>
                        <p>Connect telephony or set up your own PBX. Bitrix24 provides an extensive range of opportunities
                            for using telephony. Performing calls to both landlines and cell phones directly from the CRM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="grey-bg someblock" style="padding-bottom: 0;">
    <div class="mbox tac-mobile">
        <div class="title title--underline">
            <h2>Create Your Bitrix</h2>
        </div>
        <div class="team__desc">Your company or enterprise will work more effectively and its management will improve due to the introduction of Bitrix24.</div>
        <div class="someblock__row someblock__row--sticky">
            <a data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="button"><span>Watch video</span></a>
            <a href="#" class="button"><span>CREATE YOUR BITRIX24</span></a>
        </div>
        <div class="someblock__img">
            <img src="images/tro2.png" alt="">
        </div>

    </div>
</section>
<section class="someblock">
    <div class="mbox">
        <div class="title title--underline">
            <h2>How much does it cost. Cloud version</h2>
        </div>

        <div class="b24table">
            <div class="b24table__top">
                <div class="b24table__img">
                    <img src="images/b2424.png" alt="">
                </div>
                <div class="b24table__box">
                    <div class="b24table__item">
                        <div class="b24table__icon">
                            <svg><use xlink:href="#fivemins"></use></svg>
                        </div>
                        <div class="b24table__text">
                            <p><b>Fast Bitrix24 cloud portal
                                creation</b> in just less than 5 minutes
                                of your time</p>
                        </div>
                    </div>
                    <div class="b24table__item">
                        <div class="b24table__icon">
                            <svg><use xlink:href="#gears"></use></svg>
                        </div>
                        <div class="b24table__text">
                            <p><b> Technical support</b> of Bitrix24 team
                                on any issues of the cloud version</p>
                        </div>
                    </div>
                    <div class="b24table__item">
                        <div class="b24table__icon">
                            <svg><use xlink:href="#chell"></use></svg>
                        </div>
                        <div class="b24table__text">
                            <p><b>Saving resources</b> on maintenance
                                and additional staff</p>
                        </div>
                    </div>
                    <div class="b24table__item">
                        <div class="b24table__icon">
                            <svg><use xlink:href="#gears24"></use></svg>
                        </div>
                        <div class="b24table__text">
                            <p><b>Frequent updates</b>
                                of useful functionality</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="b24table__table">
                <table>
                    <tr>
                        <th>Plan</th>
                        <th>Free</th>
                        <th>Plus</th>
                        <th>Standard</th>
                        <th>Professional</th>
                    </tr>
                    <tr>
                        <td><b>1 months license</b></td>
                        <td>Free</td>
                        <td>$39,00</td>
                        <td>$99,00</td>
                        <td>$199,00</td>
                    </tr>
                    <tr>
                        <td><b>3 months license</b></td>
                        <td>Free</td>
                        <td>$222,30</td>
                        <td>$564,30</td>
                        <td>$1.134,30</td>
                    </tr>
                    <tr>
                        <td><b>6 months license</b></td>
                        <td>Free</td>
                        <td>$421,20</td>
                        <td>$1.069,20</td>
                        <td>$2.149,20</td>
                    </tr>
                    <tr>
                        <td><b>12 months license</b></td>
                        <td>Free</td>
                        <td>$521,20</td>
                        <td>$3.069,20</td>
                        <td>$4.149,20</td>
                    </tr>
                    <tr class="b24table__special">
                        <td><div class="b24table__cel"> <h5>Users</h5> </div></td>
                        <td><div class="b24table__cel"><b>unlimited</b></div></td>
                        <td><div class="b24table__cel"><b>unlimited</b></div></td>
                        <td><div class="b24table__cel"><b>unlimited</b></div></td>
                        <td><div class="b24table__cel"><b>unlimited</b></div></td>
                    </tr>
                    <tr class="b24table__special">
                        <td><div class="b24table__cel"> <h5>Online storage</h5>  </div></td>
                        <td><div class="b24table__cel"><b>5 Gb</b></div></td>
                        <td><div class="b24table__cel"><b>24 Gb</b></div></td>
                        <td><div class="b24table__cel"><b>100 Gb</b></div></td>
                        <td><div class="b24table__cel"><b>unlimited</b></div></td>
                    </tr>
                    <tr class="b24table__special">
                        <td>
                            <div class="b24table__cel">
                                <h5>Communication</h5>
                                <b>chat and video calls,
                                    telephony, HR, mobile
                                    application, mail</b>
                            </div>
                        </td>
                        <td>
                            <div class="b24table__cel">
                                <i class="icon--green icon">
                                    <svg><use xlink:href="#plus"></use></svg>
                                </i>
                            </div>
                        </td>
                        <td>
                            <div class="b24table__cel">
                                <i class="icon--green icon">
                                    <svg><use xlink:href="#plus"></use></svg>
                                </i>
                            </div>
                        </td>
                        <td>
                            <div class="b24table__cel">
                                <i class="icon--green icon">
                                    <svg><use xlink:href="#plus"></use></svg>
                                </i>
                            </div>
                        </td>
                        <td>
                            <div class="b24table__cel">
                                <i class="icon--green icon">
                                    <svg><use xlink:href="#plus"></use></svg>
                                </i>
                            </div>
                        </td>
                    </tr>
                    <tr class="b24table__special">
                        <td>
                            <div class="b24table__cel">
                                <h5>Business tools</h5>
                                <b>tasks and projects, CRM,
                                    Disk, calendars and other</b>
                            </div>
                        </td>
                        <td>
                            <div class="b24table__cel">
                                <i class="icon--green icon">
                                    <svg><use xlink:href="#plus"></use></svg>
                                </i>
                            </div>
                        </td>
                        <td>
                            <div class="b24table__cel">
                                <i class="icon--green icon">
                                    <svg><use xlink:href="#plus"></use></svg>
                                </i>
                                <i class="icon--green icon">
                                    <svg><use xlink:href="#plus"></use></svg>
                                </i>
                            </div>
                        </td>
                        <td>
                            <div class="b24table__cel">
                                <i class="icon--green icon">
                                    <svg><use xlink:href="#plus"></use></svg>
                                </i>
                                <i class="icon--green icon">
                                    <svg><use xlink:href="#plus"></use></svg>
                                </i>
                            </div>
                        </td>
                        <td>
                            <div class="b24table__cel">
                                <i class="icon--green icon">
                                    <svg><use xlink:href="#plus"></use></svg>
                                </i>
                                <i class="icon--green icon">
                                    <svg><use xlink:href="#plus"></use></svg>
                                </i>
                            </div>
                        </td>
                    </tr>
                    <tr class="b24table__special">
                        <td>
                            <div class="b24table__cel"> </div>
                        </td>
                        <td>
                            <div class="b24table__cel">
                                <a href="#" class="button"><span>register</span></a>
                            </div>
                        </td>
                        <td>
                            <div class="b24table__cel">
                                <a href="#" class="button"><span>register</span></a>
                            </div>
                        </td>
                        <td>
                            <div class="b24table__cel">
                                <a href="#" class="button"><span>register</span></a>
                            </div>
                        </td>
                        <td>
                            <div class="b24table__cel">
                                <a href="#" class="button"><span>register</span></a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</section>
<section class="grey-bg someblock">
    <div class="mbox">
        <div class="title title--underline">
            <h2>Bitrix24 is Сhosen by</h2>
        </div>
        <div class="feedback__logos js-logo-slider2">
            <div>
                <div class="feedback__topit">
                    <img src="https://avivi.pro/upload/resize_cache/iblock/2a8/212_100_0/2a8da38f9abb5960cd04656aa109931f.png" alt="">
                </div>
            </div>
            <div>
                <div class="feedback__topit">
                    <img src="https://avivi.pro/upload/resize_cache/iblock/0cd/212_100_0/0cd9f49589833f19c27685cab374e231.png" alt="">
                </div>
            </div>
            <div>
                <div class="feedback__topit">
                    <img src="https://avivi.pro/upload/resize_cache/iblock/750/212_100_0/750240cf9f4db5f9fd459c7a076a0038.png" alt="">
                </div>
            </div>
            <div>
                <div class="feedback__topit">
                    <img src="https://avivi.pro/upload/resize_cache/iblock/08c/212_100_0/08ce9d25615f16c5cedafbca63253124.png" alt="">
                </div>
            </div>
            <div>
                <div class="feedback__topit">
                    <img src="https://avivi.pro/upload/resize_cache/iblock/0f8/212_100_0/0f806d660a3ffd84d5fa37ebb9595ca2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="someblock toper" style="background-image:url('images/qwe.jpg');">
    <div class="mbox">
       <div class="someblock__text">
           <div class="title title--underline title--white">
               <h2>Still do not have your Bitrix24?</h2>
           </div>
           <p >Bitrix24 service helps to automate business processes, establish effective collaboration with customers, employees and partners.
               Wise utilization of the tools available in Bitrix24 will undoubtedly increase business performance in no time.
               Start using Bitrix24 now and see the difference!</p>
           <div class="someblock__row">
               <a href="#" class="button"><span>GET STARTED WITH BITRIX24</span></a>
           </div>
       </div>
    </div>
</section>
<section class="someblock">
    <div class="mbox">
        <div class="title title--underline">
            <h2>Bitrix24 Self-Hosted</h2>
        </div>
        <div class="b24table">
            <div class="b24table__top">
                <div class="b24table__img">
                    <img src="images/b3242424.png" alt="">
                </div>
                <div class="b24table__box">
                    <div class="b24table__item">
                        <div class="b24table__icon">
                            <svg><use xlink:href="#sec01"></use></svg>
                        </div>
                        <div class="b24table__text">
                            <p><b>Flexibility:</b> absolute freedom in changing the interface and business logic of the portal according to the company's needs</p>
                        </div>
                    </div>
                    <div class="b24table__item">
                        <div class="b24table__icon">
                            <svg><use xlink:href="#sec02"></use></svg>
                        </div>
                        <div class="b24table__text">
                           <p> Creation of separate portals for the units, including the functionality of <b>"Multidimensionality"</b></p>
                        </div>
                    </div>
                    <div class="b24table__item">
                        <div class="b24table__icon">
                            <svg><use xlink:href="#sec03"></use></svg>
                        </div>
                        <div class="b24table__text">
                            <p><b>Security:</b> all data is stored on your own server</p>
                        </div>
                    </div>
                    <div class="b24table__item">
                        <div class="b24table__icon">
                            <svg><use xlink:href="#sec04"></use></svg>
                        </div>
                        <div class="b24table__text">
                            <p>You no longer need to buy a license
                                every month. You can receive
                                <b>complete ownership</b> of the product.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="b24table__table">
                <table>
                    <tr>
                        <th><b>Edition</b></th>
                        <th><b>Bitrix24.CRM</b></th>
                        <th colspan="4"><b>Business</b></th>
                        <th><b>Enterprise</b></th>
                    </tr>
                    <tr>
                        <td><b>Price</b></td>
                        <td>$1.490</td>
                        <td>$2.990</td>
                        <td>$4.990</td>
                        <td>$8.990</td>
                        <td>$14.990</td>
                        <td>$24.990</td>
                    </tr>
                    <tr>
                        <td><b>Users</b></td>
                        <td>12</td>
                        <td>50</td>
                        <td>100</td>
                        <td>250</td>
                        <td>500</td>
                        <td>1000</td>
                    </tr>
                    <tr>
                        <td><b>External Users</b></td>
                        <td>
                            <i class="icon icon--gray">
                                <svg><use xlink:href="#minus"></use></svg>
                            </i>
                        </td>
                        <td>
                            <i class="icon icon--green">
                                <svg><use xlink:href="#plus"></use></svg>
                            </i>
                        </td>
                        <td>
                            <i class="icon icon--green">
                                <svg><use xlink:href="#plus"></use></svg>
                            </i>
                        </td>
                        <td>
                            <i class="icon icon--green">
                                <svg><use xlink:href="#plus"></use></svg>
                            </i>
                        </td>
                        <td>
                            <i class="icon icon--green">
                                <svg><use xlink:href="#plus"></use></svg>
                            </i>
                        </td>
                        <td>
                            <i class="icon icon--green">
                                <svg><use xlink:href="#plus"></use></svg>
                            </i>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Multiple Divisions</b></td>
                        <td>
                            <i class="icon icon--gray">
                                <svg><use xlink:href="#minus"></use></svg>
                            </i>
                        </td>
                        <td>
                            <i class="icon icon--gray">
                                <svg><use xlink:href="#minus"></use></svg>
                            </i>
                        </td>
                        <td>
                            <i class="icon icon--gray">
                                <svg><use xlink:href="#minus"></use></svg>
                            </i>
                        </td>
                        <td>
                            <i class="icon icon--gray">
                                <svg><use xlink:href="#minus"></use></svg>
                            </i>
                        </td>
                        <td>
                            <i class="icon icon--gray">
                                <svg><use xlink:href="#minus"></use></svg>
                            </i>
                        </td>
                        <td>
                            <i class="icon icon--green">
                                <svg><use xlink:href="#plus"></use></svg>
                            </i>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Web-Cluster</b></td>
                        <td>
                            <i class="icon icon--gray">
                                <svg><use xlink:href="#minus"></use></svg>
                            </i>
                        </td>
                        <td>
                            <i class="icon icon--gray">
                                <svg><use xlink:href="#minus"></use></svg>
                            </i>
                        </td>
                        <td>
                            <i class="icon icon--gray">
                                <svg><use xlink:href="#minus"></use></svg>
                            </i>
                        </td>
                        <td>
                            <i class="icon icon--gray">
                                <svg><use xlink:href="#minus"></use></svg>
                            </i>
                        </td>
                        <td>
                            <i class="icon icon--gray">
                                <svg><use xlink:href="#minus"></use></svg>
                            </i>
                        </td>
                        <td>
                            <i class="icon icon--green">
                                <svg><use xlink:href="#plus"></use></svg>
                            </i>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="someblock__row">
            <a href="#" class="button button--red js-rel-btn" data-rel="order-self-hosted"><span>ORDER SELF-HOSTED VERSION</span></a>
        </div>
    </div>
</section>
//= partials/footer2.html

