//= partials/head.html
<div class="simple">
    //= partials/header.html
</div>
<div class="mbox">
    //= partials/breadcrumbs.html
</div>
<div class="mbox">
    <div class="title title--underline">
        <h2>Blog</h2>
    </div>

</div>
<div class="subscribe">
    <div class="subscribe__text">
        Our blog is the place where we publicly express our points of view regarding all concerns that bother the mankind.
        Subscribe to the weekly digest not to miss any  publications.
    </div>

    <form  id="order-form-self-hosted" class="subscribe__form">
        <div class="callback__row form_row">
            <div class="callback__input form_input">
                <input type="email" required="required" name="mail" placeholder="Почта"  >
            </div>
        </div>
        <button type="submit" href="#" class="button"><span>Subscribe</span></button>
    </form>

    <button class="subscribe__cross" onclick="$(this).closest('.subscribe').remove()"><svg><use xlink:href="#plus"></use></svg></button>
</div>
<div class="bloglist">
    //= partials/blog.html
    //= partials/blog.html
    //= partials/blog.html
</div>
<div class="mbox">
    //= partials/paginator.html
</div>
//= partials/footer2.html

