//= partials/head.html
<div class="simple">
    //= partials/header.html
</div>
<div class="mbox">
    //= partials/breadcrumbs.html
</div>
<div class="mbox">
    <div class="title">
        <h2>Chatbots, Robot and Me</h2>
    </div>

    <div class="blogpost">
        <div class="blogitem__top blogpost__top">
            <span class="blogitem__title blogpost__date">
                <p>28 August 2018</p>
            </span>
            <a href="#" class="button"><span>NEXT ARTICLE</span></a>
            <div class="blogitem__author blogpost__author">
                <div class="blogitem__name">
                    <h5>Viktor Magdin </h5>
                    <p>Backend TeamLead</p>
                </div>
                <div class="blogitem__photo">
                    <img src="images/vyacheslav.jpg" alt="" datadata-object-fit="cover">
                </div>
            </div>
        </div>
        <div class="blogpost__post">
            <img src="https://avivi.pro/upload/iblock/ef3/ef3ab60584b3e3fe3ed8cb9fb760aaa8.png" alt="">
            <div class="blogpost__text">
                <h4>Introduction into the automation</h4>
                <p>Automation and optimization of the internal business procedures, reducing the time allocated for processing of documents, customers, reducing of the human factor - is exactly what any entrepreneur is striving for. It's clear that you cannot manage without employees in the company. But, at least, you can reduce the workload for them and for yourself in everyday business, constantly changing and supplementing the current set of actions without any problems.</p>
            </div>
            <img src="https://avivi.pro/upload/iblock/ef3/ef3ab60584b3e3fe3ed8cb9fb760aaa8.png" alt="">
            <div class="blogpost__text">
                <p>Automation and optimization of the internal business procedures, reducing the time allocated for processing of documents, customers, reducing of the human factor - is exactly what any entrepreneur is striving for. It's clear that you cannot manage without employees in the company. But, at least, you can reduce the workload for them and for yourself in everyday business, constantly changing and supplementing the current set of actions without any problems.</p>
                <h4>Introduction into the automation</h4>
                <p>Automation and optimization of the internal business procedures, reducing the time allocated for processing of documents, customers, reducing of the human factor - is exactly what any entrepreneur is striving for. It's clear that you cannot manage without employees in the company. But, at least, you can reduce the workload for them and for yourself in everyday business, constantly changing and supplementing the current set of actions without any problems.</p>
                <p>Automation and optimization of the internal business procedures, reducing the time allocated for processing of documents, customers, reducing of the human factor - is exactly what any entrepreneur is striving for. It's clear that you cannot manage without employees in the company. But, at least, you can reduce the workload for them and for yourself in everyday business, constantly changing and supplementing the current set of actions without any problems.</p>
                <p>The order was made out, there was no communication with the person, the task is completed.
                    This is a very simple example of the capabilities of chatbots and you can expand their functionality
                    almost endlessly and how much your imagination will last.</p>
                <h4 class="green">Conclusions</h4>
                <p class="regular"> CRM Bitrix24 has a wide range of instruments for automating your business processes and reducing your time.
                    At the same time, the choice of the method of such optimization is always yours. If you want a few actions when
                    changing statuses, than choose robots. If you want less human factor in communicating with customers,
                    than chatbots will be in a hurry to help your business. In any case, the automation is a must-have in any business.</p>
            </div>
        </div>
        <div class="socials__share">
            <div class="socials__text">
                <span>Поделиться: </span>
            </div>
            <a href="#" class="socials__link">
                <svg width="24" height="24">
                    <use xlink:href="#share_vk"></use>
                </svg>
            </a>
            <a href="#" class="socials__link">
                <svg width="24" height="24">
                    <use xlink:href="#share_in"></use>
                </svg>
            </a>
            <a href="#" class="socials__link">
                <svg width="24" height="24">
                    <use xlink:href="#share_face"></use>
                </svg>
            </a>
        </div>
    </div>
</div>
<hr>
<div class="someblock__row">
    <a href="#" class="button"><span>NEXT ARTICLE</span></a>
</div>
<section class="someblock grey-bg">
    <div class="mbox">
        <div class="title title--underline">
            <h2>Similar articles</h2>
        </div>
        //= partials/similar.html
    </div>
</section>
//= partials/footer2.html

