//= partials/head.html
<div class="simple">
    //= partials/header.html
</div>
<div class="mbox">
    //= partials/breadcrumbs.html
</div>
//= partials/career.html

<!-- FOOTER -->
<section class="callback" id="anchor-send">
    <div class="mbox">
        <div class="title title--white">
            <h2>Отправить резюме</h2>
        </div>
        <div class="callback__title">
            <p>сайт мультиязичний і текст міняється при натяжці ))))) не став на мене таких правок</p>
        </div>
    </div>
    <form action="" class="callback__form" id="callback">
        <div class="mbox">
            <div class="callback__row form_row">
                <div class="callback__input form_input">
                    <input type="text" required="required" name="name" placeholder="ФИО">
                </div>
                <div class="callback__input form_input">
                    <input type="text" required="required" class="tel-mask" name="tel" placeholder="Телефон">
                </div>
                <div class="callback__input form_input">
                    <input type="email" required="required" name="mail" placeholder="Почта">
                </div>
                <div class="callback__input form_input">
                    <input type="text" required="required" name="Position" placeholder="Position">
                </div>
            </div>
        </div>

        <div class="order__files" style="background-image: url(images/bgvb.png); background-repeat: repeat;">
            <div class="mbox">
                <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                <div class="order__files-wrap">
                    <div class="g-recaptcha" data-sitekey="your_site_key"></div>
                    <div class="order__upload">
                        <label>
                            <svg><use xlink:href="#plus"></use></svg>
                            <input type="file" name="user_file[]" id="file"  class="inputfile">
                            <span>You can attach more files</span>
                        </label>
                    </div>
                    <div class="order__uploaded">

                    </div>
                </div>

            </div>
        </div>
        <div class="mbox">
            <div class="callback__row">
                <button type="submit" class="button button--red">
                    <span>отправить</span>
                </button>
            </div>
        </div>
    </form>
</section>
</div>
//= partials/hidden-block.html
<footer class="footer">
    <div class="footer__info">
        <div class="footer__info-box">
            <div class="title title--white title--left">
                <h2>Контакты</h2>
            </div>
            <div class="footer__address">
                <div class="footer__icon">
                    <svg><use xlink:href="#marker"></use></svg>
                </div>
                <div class="footer__maptubs">
                    <button class="menu__address-txt footer__addr-link" data-lat="50.420764" data-lng="30.593298" onclick="googleMap($(this));">
                        <b>Киев</b>
                        <p>Днепровская набережная, 13</p>
                    </button>
                    <button class="menu__address-txt footer__addr-link" data-lat="49.426290" data-lng="26.989419" onclick="googleMap($(this));">
                        <b>Хмельницкий</b>
                        <p>Подольская, 109</p>
                    </button>
                </div>
            </div>
            <div  class="footer__phone">
                <div class="footer__icon">
                    <svg><use xlink:href="#phone"></use></svg>
                </div>
                <div class="footer__links">
                    <a href="tel:380443900439">+38 <b>044 39 00 439</b></a>
                    <a href="tel:380443900439">+38 <b>044 39 00 439</b></a>
                </div>
            </div>
            <a href="mailto:office@avivi.ua" class="footer__mail">
                    <span class="footer__icon">
                        <svg><use xlink:href="#mail"></use></svg>
                    </span>
                <span>office@avivi.ua</span>
            </a>
            <div class="socials footer__socials">
                <a href="#" class="social__btn"><svg><use xlink:href="#soc-facebook"></use></svg></a>
                <a href="#" class="social__btn"><svg><use xlink:href="#soc-instagram"></use></svg></a>
                <a href="#" class="social__btn"><svg><use xlink:href="#soc-linkedin"></use></svg></a>
                <a href="#" class="social__btn"><svg><use xlink:href="#soc-youtube"></use></svg></a>
                <a href="#" class="social__btn"><svg><use xlink:href="#soc-twitter"></use></svg></a>
                <a href="#" class="social__btn"><svg><use xlink:href="#soc-google"></use></svg></a>
            </div>
        </div>

    </div>
    <div class="footer__map" id="mapInit"></div>
</footer>
</div>
<!-- FOOTER -->
<script>
    var revision = 313242;
</script>
<link rel="stylesheet" href="css/jquery.fancybox.min.css">
<link rel="stylesheet" href="css/formstyler.css">
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/slick-theme.css">
<link rel="stylesheet" href="css/slick.css">
<link rel="stylesheet" href="css/main.css">
<!-- SCRIPTS -->
<script  src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4iiu69HGNYjeWowMnGtdghML_vNg5M_Y"></script>
<!-- build:js -->
<script type="text/javascript" src="js/plugins/device.js" ></script>
<script type="text/javascript" src="js/plugins/jquery.fancybox.min.js" ></script>
<script type="text/javascript" src="js/plugins/slick.js" ></script>
<script type="text/javascript" src="js/plugins/object-fit-cover.js" ></script>
<script type="text/javascript" src="js/plugins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plugins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plugins/maskInput.js" ></script>
<script type="text/javascript" src="js/validate_script.js" ></script>
<script type="text/javascript" src="js/main.js" ></script>
<!-- endbuild -->

<!-- /SCRIPTS -->
</body>
</html>