//= partials/head.html

    //= partials/header.html

<div class="toper" style="background-image:url('images/qwe.jpg');">
    <div class="mbox">
        <div class="toper__text">
            <h1>Bitrix24 - CRM for <br>
                Corporate Portal Solution</h1>
        </div>
    </div>
</div>
<div class="mbox">
    //= partials/breadcrumbs.html
</div>
//= partials/coop.html
//= partials/task.html
//= partials/solution.html
//= partials/penta-slider.html
//= partials/result.html

//= partials/testimonial.html
<section class="someblock grey-bg">
    <div class="mbox">
        <div class="title title--underline">
            <h2>Similar Projects</h2>
        </div>
        //= partials/similar.html
    </div>
</section>


//= partials/footer2.html

