//= partials/head.html
<div class="simple">
    //= partials/header.html
</div>
<div class="mbox">
    //= partials/breadcrumbs.html
</div>
<div class="mbox">
    <div class="title title--underline">
        <h2>Cases</h2>
    </div>
    <div class="caselist">
        <div class="caselist__item">
            <div class="caselist__img">
                <img src="images/dsd.jpg" alt="">
            </div>
            <div class="caselist__text">
                <div class="title title--underline title--left">
                    <h3>The  Integration of Bitrix24 into
                        the Jewelry Industry</h3>
                </div>
                <p>
                    <b>The production of the jewelry is a laborious and expensive process.</b> <br>
                    In order to make this business profitable, it is necessary to organize the sales of goods correctly.
                    Otherwise, the jewels will simply shine. The implementation of Bitrix24 can solve
                    many problems of this market segment.
                </p>
                <a href="#" class="button"><span>more</span></a>
            </div>
        </div>
        <div class="caselist__item">
            <div class="caselist__img">
                <img src="images/dsd.jpg" alt="">
            </div>
            <div class="caselist__text">
                <div class="title title--underline title--left">
                    <h3>The  Integration of Bitrix24 into
                        the Jewelry Industry</h3>
                </div>
                <p>
                    <b>The production of the jewelry is a laborious and expensive process.</b> <br>
                    In order to make this business profitable, it is necessary to organize the sales of goods correctly.
                    Otherwise, the jewels will simply shine. The implementation of Bitrix24 can solve
                    many problems of this market segment.
                </p>
                <a href="#" class="button"><span>more</span></a>
            </div>
        </div>
        <div class="caselist__item">
            <div class="caselist__img">
                <img src="images/dsd.jpg" alt="">
            </div>
            <div class="caselist__text">
                <div class="title title--underline title--left">
                    <h3>The  Integration of Bitrix24 into
                        the Jewelry Industry</h3>
                </div>
                <p>
                    <b>The production of the jewelry is a laborious and expensive process.</b> <br>
                    In order to make this business profitable, it is necessary to organize the sales of goods correctly.
                    Otherwise, the jewels will simply shine. The implementation of Bitrix24 can solve
                    many problems of this market segment.
                </p>
                <a href="#" class="button"><span>more</span></a>
            </div>
        </div>
    </div>
    //= partials/paginator.html

</div>

//= partials/footer2.html

