//= partials/head.html


<div class="simple">
    //= partials/header.html
</div>
<div class="mbox">
    <div class="title"  style="padding-top: 100px;">
        <h2>страницы</h2>
    </div>
    <ul>
        <li><a href="main.html" class="button"><span>главная</span></a></li>
        <li><a href="team.html" class="button"><span>команда</span></a></li>
        <li><a href="career.html" class="button"><span>карьера</span></a></li>
        <li><a href="blog.html" class="button"><span>blog</span></a></li>
        <li><a href="blogpost.html" class="button"><span>blogpost</span></a></li>
        <li><a href="b24.html" class="button"><span>b24</span></a></li>
        <li><a href="contacts.html" class="button"><span>contacts</span></a></li>
        <li><a href="app.html" class="button"><span>app</span></a></li>
        <li><a href="applist.html" class="button"><span>applist</span></a></li>
        <li><a href="case.html" class="button"><span>case</span></a></li>
        <li><a href="caselist.html" class="button"><span>caselist</span></a></li>
        <li><a href="leave.html" class="button"><span>leave</span></a></li>
        <li><a href="404.html" class="button"><span>404</span></a></li>

        <br>
        <li><a href="letter.html" class="button"><span>letter</span></a></li>

    </ul>
    <hr>
    <div class="title">
        <h2>менюхи</h2>
    </div>
    <ul>
        <li><button class="button js-rel-btn" data-rel="main"><span>main</span></button></li>
        <li><button class="button js-rel-btn" data-rel="order"><span>order</span></button></li>
        <li><button class="button js-rel-btn" data-rel="thxmessage"><span>thx-message</span></button></li>
        <li><button class="button js-rel-btn" data-rel="order-self-hosted"><span>order-self-hosted</span></button></li>
        <li><button class="button js-rel-btn" data-rel="subscribe"><span>subscribe</span></button></li>
        <li><button class="button js-rel-btn" data-rel="buy-some"><span>buy-some</span></button></li>
        <li><button class="button js-rel-btn" data-rel="thxmessage-buy"><span>thx-message-buy</span></button></li>
    </ul>
    <hr>
    <div class="title">
        <h2>попапи</h2>
    </div>
    <ul>
        <li><a href="#call_success" data-fancybox class="button"><span>call_success</span></a></li>
    </ul>
    <hr>
    <div class="title">
        <h2>содержимое спрайта</h2>
    </div>
    <div class="svg-container"></div>
    <style>
        ul{list-style-type: none;}
        li{display: inline-block; margin: 4px;}
        .svg-container{display: flex; justify-content: flex-start; align-items: flex-start; flex-wrap: wrap; background-color: #ceecce;}
        .svg-container div{width: 25%; display: block; border:1px solid #000; padding: 5px;}
        .svg-container svg{width: 100%; height: 100%;}
    </style>
</div>

//= partials/footer2.html
<script>
    $(document).ready(function(){
        $('body>svg symbol').each(function(){
            var id = $(this).attr('id');
            var div = document.createElement('div');
            $(div).html('<svg><use xlink:href="#'+id+'"></use></svg><p>#'+id+'</p>');
            $('.svg-container').append(div);
        });
    });
</script>
