//= partials/head.html
//= partials/header.html
<section class="leave">
    <div class="mainbanner" style="background-image: url(https://upload.wikimedia.org/wikipedia/ru/3/30/Izumrud_Astana_2015.jpg);">
        <div class="mbox">

            <div class="mainbanner__text">
                <div class="leave__picture">
                    <img src="images/cry.png" alt="">
                </div>
                <div class="title title--white">
                    <h2>Жаль что вы уходите!</h2>
                </div>
                <div class="callback__title">
                    <p>Будем рады вас видеть снова</p>
                </div>
                <div class="leave__form">
                    <form action="" class="callback__form" id="callback" novalidate="novalidate">
                        <div class="mbox">
                            <div class="callback__row form_row">
                                <div class="callback__input form_input">
                                    <input type="text" name="reason" placeholder="Причина отписки" aria-required="true">
                                </div>
                            </div>
                        </div>
                        <div class="mbox">
                            <div class="callback__row">
                                <button type="submit" class="button button--full">
                                    <span>Отписаться</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var revision = 31542;
</script>
<link rel="stylesheet" href="css/jquery.fancybox.min.css">
<link rel="stylesheet" href="css/formstyler.css">
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/slick-theme.css">
<link rel="stylesheet" href="css/slick.css">
<link rel="stylesheet" href="css/main.css">
<!-- SCRIPTS -->
<script  src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4iiu69HGNYjeWowMnGtdghML_vNg5M_Y"></script>
<!-- build:js -->
<script type="text/javascript" src="js/plugins/device.js" ></script>
<script type="text/javascript" src="js/plugins/jquery.fancybox.min.js" ></script>
<script type="text/javascript" src="js/plugins/slick.js" ></script>
<script type="text/javascript" src="js/plugins/object-fit-cover.js" ></script>
<script type="text/javascript" src="js/plugins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plugins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plugins/maskInput.js" ></script>
<script type="text/javascript" src="js/validate_script.js" ></script>
<script type="text/javascript" src="js/main.js" ></script>
<!-- endbuild -->

<!-- /SCRIPTS -->
</body>
</html>
