//= partials/head.html

//= partials/header.html
<section class="mainslider js-mainslider">
    <div>
        //= partials/mainbanner.html
    </div>
    <div>
        //= partials/mainbanner.html
    </div>
    <div>
        //= partials/mainbanner.html
    </div>
</section>
<section class="services">
    <div class="mbox">
        <div class="title title--underline">
            <h2>Our Services</h2>
        </div>
        <div class="services__wrapper js-resize-slider">
            <div class="item">
                <div class="item__image">
                    <svg width="76" height="77">
                        <use xlink:href="#puzzle"></use>
                    </svg>
                </div>
                <div class="item__text">Bitrix24 Integration <br>
                    With your Business Tools</div>
                <a href="#" class="button"><span>read more</span></a>
            </div>
            <div class="item">
                <div class="item__image">
                    <svg width="77" height="71">
                        <use xlink:href="#monitor"></use>
                    </svg>
                </div>
                <div class="item__text">Bitrix24: support Your <br>
                    New or Present Projects</div>
                <a href="#" class="button"><span>read more</span></a>
            </div>
            <div class="item">
                <div class="item__image">
                    <svg width="77" height="74">
                        <use xlink:href="#chat"></use>
                    </svg>
                </div>
                <div class="item__text">Consulting Services <br>
                    and Employee training</div>
                <a href="#" class="button"><span>read more</span></a>
            </div>
            <div class="item">
                <div class="item__image">
                    <svg width="71" height="71">
                        <use xlink:href="#house"></use>
                    </svg>
                </div>
                <div class="item__text">Custom Bitrix24 Applications <br>
                    and REST APIs Development</div>
                <a href="#" class="button"><span>read more</span></a>
            </div>
            <div class="item">
                <div class="item__image">
                    <svg width="77" height="77">
                        <use xlink:href="#master"></use>
                    </svg>
                </div>
                <div class="item__text">Open Channels, Telephony <br>
                    and Automation Adjustment</div>
                <a href="#" class="button"><span>read more</span></a>
            </div>
            <div class="item">
                <div class="item__image">
                    <svg width="77" height="77">
                        <use xlink:href="#crm"></use>
                    </svg>
                </div>
                <div class="item__text">CRM Setup <br>
                    and Customization</div>
                <a href="#" class="button"><span>read more</span></a>
            </div>

        </div>
    </div>
</section>
<section class="someblock grey-bg">
    <div class="mbox">
        <div class="title">
            <h2>Сделано в Avivi</h2>
        </div>
    </div>
    <div class="doubleslider">
        <div class="doubleslider__big">
            <div class="doubleslider__big-slider js-slider-big">
                <div>
                    <div class="slide">
                        <div class="slide__box">
                            <div class="slide__header">
                                Wertgarantie Gmbh
                            </div>
                            <div class="slide__description">
                                Создан корпоративный портал в фирменном стиле для немецкой
                                компании, настроен основной и дополнительный функционал
                                под потребности заказчика.
                            </div>
                            <div class="slide__image">
                                <img src="images/case_1.png" alt="photo">
                            </div>
                            <div class="slide__buttons">
                                <a href="#">www.wertgarantie.de</a>
                                <button type="button" class="button"> <span>Подробнее</span> </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="slide">
                        <div class="slide__box">
                            <div class="slide__header">
                                Wertgarantie Gmbh  Wertgarantie Gmbh
                            </div>
                            <div class="slide__description">
                                Создан корпоративный портал в фирменном стиле для немецкой
                                компании, настроен основной и дополнительный функционал
                                под потребности заказчика.
                            </div>
                            <div class="slide__image">
                                <img src="images/case_1.png" alt="photo">
                            </div>
                            <div class="slide__buttons">
                                <a href="#">www.wertgarantie.de</a>
                                <button type="button" class="button"> <span>Подробнее</span> </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="slide">
                        <div class="slide__box">
                            <div class="slide__header">
                                Wertgarantie Gmbh
                            </div>
                            <div class="slide__description">
                                Создан корпоративный портал в фирменном стиле для немецкой
                                компании, настроен основной и дополнительный функционал
                                под потребности заказчика.
                            </div>
                            <div class="slide__image">
                                <img src="images/case_1.png" alt="photo">
                            </div>
                            <div class="slide__buttons">
                                <a href="#">www.wertgarantie.de</a>
                                <button type="button" class="button"> <span>Подробнее</span> </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="slide">
                        <div class="slide__box">
                            <div class="slide__header">
                                Wertgarantie Gmbh
                            </div>
                            <div class="slide__description">
                                Создан корпоративный портал в фирменном стиле для немецкой
                                компании, настроен основной и дополнительный функционал
                                под потребности заказчика.
                            </div>
                            <div class="slide__image">
                                <img src="images/case_1.png" alt="photo">
                            </div>
                            <div class="slide__buttons">
                                <a href="#">www.wertgarantie.de</a>
                                <button type="button" class="button"> <span>Подробнее</span> </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="slide">
                        <div class="slide__box">
                            <div class="slide__header">
                                Wertgarantie Gmbh
                            </div>
                            <div class="slide__description">
                                Создан корпоративный портал в фирменном стиле для немецкой
                                компании, настроен основной и дополнительный функционал
                                под потребности заказчика.
                            </div>
                            <div class="slide__image">
                                <img src="images/case_1.png" alt="photo">
                            </div>
                            <div class="slide__buttons">
                                <a href="#">www.wertgarantie.de</a>
                                <button type="button" class="button"> <span>Подробнее</span> </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="slide">
                        <div class="slide__box">
                            <div class="slide__header">
                                Wertgarantie Gmbh
                            </div>
                            <div class="slide__description">
                                Создан корпоративный портал в фирменном стиле для немецкой
                                компании, настроен основной и дополнительный функционал
                                под потребности заказчика.
                            </div>
                            <div class="slide__image">
                                <img src="images/case_1.png" alt="photo">
                            </div>
                            <div class="slide__buttons">
                                <a href="#">www.wertgarantie.de</a>
                                <button type="button" class="button"> <span>Подробнее</span> </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="slide">
                        <div class="slide__box">
                            <div class="slide__header">
                                Wertgarantie Gmbh
                            </div>
                            <div class="slide__description">
                                Создан корпоративный портал в фирменном стиле для немецкой
                                компании, настроен основной и дополнительный функционал
                                под потребности заказчика.
                            </div>
                            <div class="slide__image">
                                <img src="images/case_1.png" alt="photo">
                            </div>
                            <div class="slide__buttons">
                                <a href="#">www.wertgarantie.de</a>
                                <button type="button" class="button"> <span>Подробнее</span> </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="slide">
                        <div class="slide__box">
                            <div class="slide__header">
                                Wertgarantie Gmbh
                            </div>
                            <div class="slide__description">
                                Создан корпоративный портал в фирменном стиле для немецкой
                                компании, настроен основной и дополнительный функционал
                                под потребности заказчика.
                            </div>
                            <div class="slide__image">
                                <img src="images/case_1.png" alt="photo">
                            </div>
                            <div class="slide__buttons">
                                <a href="#">www.wertgarantie.de</a>
                                <button type="button" class="button"> <span>Подробнее</span> </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="slide">
                        <div class="slide__box">
                            <div class="slide__header">
                                Wertgarantie Gmbh
                            </div>
                            <div class="slide__description">
                                Создан корпоративный портал в фирменном стиле для немецкой
                                компании, настроен основной и дополнительный функционал
                                под потребности заказчика.
                            </div>
                            <div class="slide__image">
                                <img src="images/case_1.png" alt="photo">
                            </div>
                            <div class="slide__buttons">
                                <a href="#">www.wertgarantie.de</a>
                                <button type="button" class="button"> <span>Подробнее</span> </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="slide">
                        <div class="slide__box">
                            <div class="slide__header">
                                Wertgarantie Gmbh
                            </div>
                            <div class="slide__description">
                                Создан корпоративный портал в фирменном стиле для немецкой
                                компании, настроен основной и дополнительный функционал
                                под потребности заказчика.
                            </div>
                            <div class="slide__image">
                                <img src="images/case_1.png" alt="photo">
                            </div>
                            <div class="slide__buttons">
                                <a href="#">www.wertgarantie.de</a>
                                <button type="button" class="button"> <span>Подробнее</span> </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="doubleslider__nav">
            <div class="doubleslider__nav-slider js-slider-nav">
                <div class="slide">
                    <div class="slide__box">
                        <div class="slide__header">
                            Wertgarantie Gmbh
                        </div>
                        <div class="slide__description">
                            Создан корпоративный портал в фирменном стиле для немецкой
                            компании, настроен основной и дополнительный функционал
                            под потребности заказчика.
                        </div>
                        <div class="slide__image">
                            <img src="images/case_1.png" alt="photo">
                        </div>
                        <div class="slide__buttons">
                            <a href="#">www.wertgarantie.de</a>
                            <button type="button" class="button"> <span>Подробнее</span> </button>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide__box">
                        <div class="slide__header">
                            #MBocharova
                        </div>
                        <div class="slide__description">
                            Создан корпоративный портал в фирменном стиле для немецкой
                            компании, настроен основной и дополнительный функционал
                            под потребности заказчика.
                        </div>
                        <div class="slide__image">
                            <img src="images/case_2.png" alt="photo">
                        </div>
                        <div class="slide__buttons">
                            <a href="#">www.qwertybest.ok</a>
                            <button type="button" class="button"> <span>Подробнее</span> </button>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide__box">
                        <div class="slide__header">
                            Pollardi
                        </div>
                        <div class="slide__description">
                            Создан корпоративный портал в фирменном стиле для немецкой
                            компании, настроен основной и дополнительный функционал
                            под потребности заказчика.
                        </div>
                        <div class="slide__image">
                            <img src="images/case_3.png" alt="photo">
                        </div>
                        <div class="slide__buttons">
                            <a href="#">www.qwertybest.ok</a>
                            <button type="button" class="button"> <span>Подробнее</span> </button>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide__box">
                        <div class="slide__header">
                            Dveej.ua
                        </div>
                        <div class="slide__description">
                            Создан корпоративный портал в фирменном стиле для немецкой
                            компании, настроен основной и дополнительный функционал
                            под потребности заказчика.
                        </div>
                        <div class="slide__image">
                            <img src="images/case_1.png" alt="photo">
                        </div>
                        <div class="slide__buttons">
                            <a href="#">www.qwertybest.ok</a>
                            <button type="button" class="button"> <span>Подробнее</span> </button>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide__box">
                        <div class="slide__header">
                            Hop-hey.lalaley
                        </div>
                        <div class="slide__description">
                            Создан корпоративный портал в фирменном стиле для немецкой
                            компании, настроен основной и дополнительный функционал
                            под потребности заказчика.
                        </div>
                        <div class="slide__image">
                            <img src="images/case_2.png" alt="photo">
                        </div>
                        <div class="slide__buttons">
                            <a href="#">www.qwertybest.ok</a>
                            <button type="button" class="button"> <span>Подробнее</span> </button>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide__box">
                        <div class="slide__header">
                            Wertgarantie Gmbh
                        </div>
                        <div class="slide__description">
                            Создан корпоративный портал в фирменном стиле для немецкой
                            компании, настроен основной и дополнительный функционал
                            под потребности заказчика.
                        </div>
                        <div class="slide__image">
                            <img src="images/case_1.png" alt="photo">
                        </div>
                        <div class="slide__buttons">
                            <a href="#">www.wertgarantie.de</a>
                            <button type="button" class="button"> <span>Подробнее</span> </button>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide__box">
                        <div class="slide__header">
                            #MBocharova
                        </div>
                        <div class="slide__description">
                            Создан корпоративный портал в фирменном стиле для немецкой
                            компании, настроен основной и дополнительный функционал
                            под потребности заказчика.
                        </div>
                        <div class="slide__image">
                            <img src="images/case_2.png" alt="photo">
                        </div>
                        <div class="slide__buttons">
                            <a href="#">www.qwertybest.ok</a>
                            <button type="button" class="button"> <span>Подробнее</span> </button>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide__box">
                        <div class="slide__header">
                            Pollardi
                        </div>
                        <div class="slide__description">
                            Создан корпоративный портал в фирменном стиле для немецкой
                            компании, настроен основной и дополнительный функционал
                            под потребности заказчика.
                        </div>
                        <div class="slide__image">
                            <img src="images/case_3.png" alt="photo">
                        </div>
                        <div class="slide__buttons">
                            <a href="#">www.qwertybest.ok</a>
                            <button type="button" class="button"> <span>Подробнее</span> </button>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide__box">
                        <div class="slide__header">
                            Dveej.ua
                        </div>
                        <div class="slide__description">
                            Создан корпоративный портал в фирменном стиле для немецкой
                            компании, настроен основной и дополнительный функционал
                            под потребности заказчика.
                        </div>
                        <div class="slide__image">
                            <img src="images/case_1.png" alt="photo">
                        </div>
                        <div class="slide__buttons">
                            <a href="#">www.qwertybest.ok</a>
                            <button type="button" class="button"> <span>Подробнее</span> </button>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide__box">
                        <div class="slide__header">
                            Hop-hey.lalaley
                        </div>
                        <div class="slide__description">
                            Создан корпоративный портал в фирменном стиле для немецкой
                            компании, настроен основной и дополнительный функционал
                            под потребности заказчика.
                        </div>
                        <div class="slide__image">
                            <img src="images/case_2.png" alt="photo">
                        </div>
                        <div class="slide__buttons">
                            <a href="#">www.qwertybest.ok</a>
                            <button type="button" class="button"> <span>Подробнее</span> </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mbox">
        <div class="doubleslider__buttons">
            <button class="js-slider-big-prev button button--bordered button--arrow"><span>&nbsp;</span></button>
            <button class="button button--bordered"><span>все кейсы</span></button>
            <button class="js-slider-big-next button button--bordered button--arrow forward"><span>&nbsp;</span></button>
        </div>
    </div>
</section>
<section class="services">
    <div class="mbox">
        <div class="title title--underline">
            <h2>Why our company?</h2>
        </div>
        <div class="services__wrapper js-resize-slider">
            <div class="item">
                <div class="item__image">
                    <svg width="62" height="76">
                        <use xlink:href="#clock"></use>
                    </svg>
                </div>
                <div class="item__text">Response within <br> 10 minutes!</div>
            </div>
            <div class="item">
                <div class="item__image">
                    <svg width="76" height="76">
                        <use xlink:href="#guys"></use>
                    </svg>
                </div>
                <div class="item__text">Free advice <br> From our expert</div>
            </div>
            <div class="item">
                <div class="item__image">
                    <svg width="76" height="76">
                        <use xlink:href="#manager"></use>
                    </svg>
                </div>
                <div class="item__text">Personal manager</div>
            </div>
            <div class="item">
                <div class="item__image">
                    <svg width="76" height="56">
                        <use xlink:href="#hands"></use>
                    </svg>
                </div>
                <div class="item__text">Technical support after purchase</div>
            </div>
            <div class="item">
                <div class="item__image">
                    <svg width="76" height="56">
                        <use xlink:href="#man_24"></use>
                    </svg>
                </div>
                <div class="item__text">24 certified developers</div>
            </div>
            <div class="item">
                <div class="item__image">
                    <svg width="76" height="56">
                        <use xlink:href="#arrow"></use>
                    </svg>
                </div>
                <div class="item__text">11 years of IT solutions <br> integration</div>
            </div>

        </div>
    </div>
</section>
<section class="oscar grey-bg">
    <div class="mbox">
        <div class="oscar__wrap">
            <div class="oscar__item" title="награда за двіж года"><img src="images/mma1.png" alt=""></div>
            <div class="oscar__item" title="награда за двіж года"><img src="images/mma3.png" alt=""></div>
            <div class="oscar__item" title="награда за двіж года"><img src="images/mma2.png" alt=""></div>
        </div>
    </div>
</section>

<section class="tables grey-bg">
    <div class="mbox">
        <div class="title title--underline">
            <h2>Пакеты Внедрения</h2>
        </div>
        <div class="tables__box">
                <div class="pocket">
                    <div class="pocket__head">
                        Начальный
                        <div class="pocket__leafs">
                            <img src="images/leafs.png" alt="" data-object-fit="contain">
                        </div>
                    </div>
                    <div class="pocket__inside">
                        <div class="pocket__items">
                            <div class="pocket__holder">
                                <div class="pocket__price">
                                    21 000 грн
                                </div>
                                <div class="pocket__button">
                                    <button type="button" class="button button--full"><span>заказать</span></button>
                                </div>
                                <div class="pocket__desc">
                                    <p>Регистрация портала (Облако)</p>
                                    <p>Приглашение сотрудников
                                        и настройка структуры компании</p>
                                    <p>Подключение почты</p>
                                    <p>Настройка воронки лидов и счетов</p>
                                    <p>Настройка воронки лидов и счетов</p>
                                </div>
                            </div>
                            <div class="pocket__gradient js-pocket-grad hidden"></div>
                            <div class="pocket__slide js-pocket-show hidden"></div>
                        </div>
                    </div>
                </div>

                <div class="pocket">
                    <div class="pocket__head">
                        Профессиональный
                        <div class="pocket__leafs">
                            <img src="images/leafs.png" alt="" data-object-fit="contain">
                        </div>
                    </div>
                    <div class="pocket__inside">
                        <div class="pocket__items">
                            <div class="pocket__holder">
                                <div class="pocket__price">
                                    21 000 грн
                                </div>
                                <div class="pocket__button">
                                    <button type="button" class="button button--full"><span>заказать</span></button>
                                </div>
                                <div class="pocket__desc">
                                    <p>Регистрация портала (Облако)</p>
                                    <p>Приглашение сотрудников
                                        и настройка структуры компании</p>
                                    <p>Подключение почты</p>
                                    <p>Настройка воронки лидов и счетов</p>
                                    <p>Настройка телефонии SIP</p>
                                    <p>Подключение почты</p>
                                    <p>Настройка воронки лидов и счетов</p>
                                    <p>Настройка телефонии SIP</p>
                                    <p>Подключение почты</p>
                                    <p>Настройка воронки лидов и счетов</p>
                                    <p>Настройка телефонии SIP</p>

                                </div>
                            </div>
                            <div class="pocket__gradient js-pocket-grad hidden"></div>
                            <div class="pocket__slide js-pocket-show hidden"></div>
                        </div>
                    </div>
                </div>

                <div class="pocket">
                    <div class="pocket__head">
                        Эксперт
                        <div class="pocket__leafs">
                            <img src="images/leafs.png" alt="" data-object-fit="contain">
                        </div>
                    </div>
                    <div class="pocket__inside">
                        <div class="pocket__items">
                            <div class="pocket__holder">
                                <div class="pocket__price">
                                    21 000 грн
                                </div>
                                <div class="pocket__button">
                                    <button type="button" class="button button--full"><span>заказать</span></button>
                                </div>
                                <div class="pocket__desc">
                                    <p>Регистрация портала (Облако)</p>
                                    <p>Приглашение сотрудников
                                        и настройка структуры компании</p>
                                    <p>Подключение почты</p>
                                    <p>Настройка воронки лидов и счетов</p>
                                    <p>Настройка телефонии SIP</p>
                                    <p>Подключение почты</p>
                                    <p>Настройка воронки лидов и счетов</p>
                                    <p>Настройка телефонии SIP</p>
                                    <p>Подключение почты</p>
                                    <p>Настройка воронки лидов и счетов</p>
                                    <p>Настройка телефонии SIP</p>

                                </div>
                            </div>
                            <div class="pocket__gradient js-pocket-grad hidden"></div>
                            <div class="pocket__slide js-pocket-show hidden"></div>
                        </div>
                    </div>
                </div>

        </div>
    </div>
</section>
<section class="aplications">
    <div class="title title--underline title--white">
        <h2>Our Applications</h2>
    </div>
    <div class="app-slider js-app-slider">
        <div>
            <div class="aplications__content">
                <div class="aplications__img">
                    <img src="https://upload.wikimedia.org/wikipedia/ru/3/30/Izumrud_Astana_2015.jpg" alt="" data-object-fit="cover">
                </div>
                <div class="aplications__text">
                    <h6>Time Reports PRO - Отчёты по времени и проектам</h6>
                    <p>Самое удобное приложение в Битрикс24 для формирования отчетности по затраченому времени, эфективности взаимодействия персонала и этапам выполнения поставленных задач.</p>
                    <a href="#" class="button"><span>подробнее</span></a>
                </div>
            </div>
        </div>
        <div>
            <div class="aplications__content">
                <div class="aplications__img">
                    <img src="http://rusvesna.su/sites/default/files/images/19102015/karikatura.jpg" alt="" data-object-fit="cover">
                </div>
                <div class="aplications__text">
                    <h6>Time Reports PRO - Отчёты по времени и проектам</h6>
                    <p>Самое удобное приложение в Битрикс24 для формирования отчетности по затраченому времени, эфективности взаимодействия персонала и этапам выполнения поставленных задач.</p>
                    <a href="#" class="button"><span>подробнее</span></a>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="feedback grey-bg">
    <div class="mbox">
        <div class="title title--underline">
            <h2>Clients and reviews</h2>
        </div>
        <div class="feedback__logos js-logo-slider">
            <div>
                <div class="feedback__topit">
                    <img src="https://avivi.pro/upload/resize_cache/iblock/2a8/212_100_0/2a8da38f9abb5960cd04656aa109931f.png" alt="">
                </div>
            </div>
            <div>
                <div class="feedback__topit">
                    <img src="https://avivi.pro/upload/resize_cache/iblock/0cd/212_100_0/0cd9f49589833f19c27685cab374e231.png" alt="">
                </div>
            </div>
            <div>
                <div class="feedback__topit">
                    <img src="https://avivi.pro/upload/resize_cache/iblock/750/212_100_0/750240cf9f4db5f9fd459c7a076a0038.png" alt="">
                </div>
            </div>
            <div>
                <div class="feedback__topit">
                    <img src="https://avivi.pro/upload/resize_cache/iblock/08c/212_100_0/08ce9d25615f16c5cedafbca63253124.png" alt="">
                </div>
            </div>
            <div>
                <div class="feedback__topit">
                    <img src="https://avivi.pro/upload/resize_cache/iblock/0f8/212_100_0/0f806d660a3ffd84d5fa37ebb9595ca2.png" alt="">
                </div>
            </div>
        </div>
        <div class="feedback__text js-comment-slider">
            <div>
                <div class="feedback__comment">
                    <div class="feedback__message">
                        <p><b>We would like to manifest our appreciation for the website Avivi created for us!</b></p>
                        <p> Huge gratitude to Project Manager Alexei for his competent guidance. We were provided with well-defined tasks, and a detailed action plan from the beginning, with a quality and result-oriented approach. It is a pleasure to work with punctual and responsible people. The result was appealing, not to mention that it was performed on schedule! I encourage everyone to visit our website pollardi.ru and get a glimpse of its many functionalities!	 </p>
                    </div>
                    <div class="feedback__autor">
                        <div class="feedback__avatar">
                            <img src="https://avivi.pro/upload/resize_cache/iblock/ddd/80_80_2/ddd5d9795207f26022a90738f05dfea6.jpg" alt="">
                        </div>
                        <b>Julia Narolskaya </b>
                        <p>Site manager at <a href="#">Pollardi.com</a></p>
                    </div>
                </div>
            </div>
            <div>
                <div class="feedback__comment">
                    <div class="feedback__message">
                        <p><b>We would like to manifest our appreciation for the website Avivi created for us!</b></p>
                        <p> Huge gratitude to Project Manager Alexei for his competent guidance. We were provided with well-defined tasks, and a detailed action plan from the beginning, with a quality an to visit our website pollardi.ru and get a glimpse of its many functionalities!	 </p>
                    </div>
                    <div class="feedback__autor">
                        <div class="feedback__avatar">
                            <img src="https://avivi.pro/upload/resize_cache/iblock/ddd/80_80_2/ddd5d9795207f26022a90738f05dfea6.jpg" alt="">
                        </div>
                        <b>Julia Narolskaya </b>
                        <p>Site manager at <a href="#">Pollardi.com</a></p>
                    </div>
                </div>
            </div>
            <div>
                <div class="feedback__comment">
                    <div class="feedback__message">
                        <p><b>We would bsite Avivi created for us!</b></p>
                        <p> Huge  u and get a glimpse of its many functionalities!	 </p>
                    </div>
                    <div class="feedback__autor">
                        <div class="feedback__avatar">
                            <img src="https://avivi.pro/upload/resize_cache/iblock/ddd/80_80_2/ddd5d9795207f26022a90738f05dfea6.jpg" alt="">
                        </div>
                        <b>Julia Narolskaya </b>
                        <p>Site manager at <a href="#">Pollardi.com</a></p>
                    </div>
                </div>
            </div>
            <div>
                <div class="feedback__comment">
                    <div class="feedback__message">
                        <p><b>We would like to manifest our appreciation for the website Avivi created for us!</b></p>
                        <p> Huge gratitude to Project Manager Alexei for his competent guidance. We were provided with well-defined tasks, and a detailed action plan from the beginning, with a quality and result-oriented approach. It is a pleasure to work with punctual and responsible people. The result was appealing, not to mention that it was performed on schedule! I encourage everyone to visit our website pollardi.ru and get a glimpse of its many functionalities!	 </p>
                    </div>
                    <div class="feedback__autor">
                        <div class="feedback__avatar">
                            <img src="https://avivi.pro/upload/resize_cache/iblock/ddd/80_80_2/ddd5d9795207f26022a90738f05dfea6.jpg" alt="">
                        </div>
                        <b>Julia Narolskaya </b>
                        <p>Site manager at <a href="#">Pollardi.com</a></p>
                    </div>
                </div>
            </div>
            <div>
                <div class="feedback__comment">
                    <div class="feedback__message">
                        <p><b>We would like to manifest our appreciation for the website Avivi created for us!</b></p>
                        <p> Huge gratitude to Project Manager Alexei for his competent guidance. We were provided with well-defined tasks, and a detailed action plan from the beginning, with a quality and result-oriented approach. It is a pleasure to work with punctual and responsible people. The result was appealing, not to mention that it was performed on schedule! I encourage everyone to visit our website pollardi.ru and get a glimpse of its many functionalities!	 </p>
                        <p> Huge gratitude to Project Manager Alexei for his competent guidance. We were provided with well-defined tasks, and a detailed action plan from the beginning, with a quality and result-oriented approach. It is a pleasure to work with punctual and responsible people. The result was appealing, not to mention that it was performed on schedule! I encourage everyone to visit our website pollardi.ru and get a glimpse of its many functionalities!	 </p>
                        <p> Huge gratitude to Project Manager Alexei for his competent guidance. We were provided with well-defined tasks, and a detailed action plan from the beginning, with a quality and result-oriented approach. It is a pleasure to work with punctual and responsible people. The result was appealing, not to mention that it was performed on schedule! I encourage everyone to visit our website pollardi.ru and get a glimpse of its many functionalities!	 </p>
                    </div>
                    <div class="feedback__autor">
                        <div class="feedback__avatar">
                            <img src="https://avivi.pro/upload/resize_cache/iblock/ddd/80_80_2/ddd5d9795207f26022a90738f05dfea6.jpg" alt="">
                        </div>
                        <b>Julia Narolskaya </b>
                        <p>Site manager at <a href="#">Pollardi.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="widgets">
    <div class="mbox">
        <div class="widgets__wrap">
            <div class="widgets__title">
                <b>See more reviews <br> about our company at:</b>
            </div>
            <div class="widgets__item">
                <a target="_blank" href="https://www.goodfirms.co/companies/view/12523/avivi"><img style="width:246px" src="https://goodfirms.s3.amazonaws.com/badges/blue-button/app-development.svg" alt="GoodFirms Badge"></a>
            </div>
            <div class="widgets__item">
                <div class="clutch-widget" data-url="https://clutch.co" data-widget-type="2" data-height="50" data-clutchcompany-id="35329"></div>
            </div>
        </div>
    </div>
</section>
//= partials/footer2.html
