<section class="someblock grey-bg">
    <div class="mbox">
        <div class="title">
            <h2>Сделано в Avivi</h2>
        </div>
    </div>
    <div class="doubleslider">
        <div class="doubleslider__big">
            <div class="doubleslider__big-slider js-slider-big">
                <div>
                    <div class="slide">
                        <div class="slide__box">
                            <div class="slide__header">
                                Wertgarantie Gmbh
                            </div>
                            <div class="slide__description">
                                Создан корпоративный портал в фирменном стиле для немецкой
                                компании, настроен основной и дополнительный функционал
                                под потребности заказчика.
                            </div>
                            <div class="slide__image">
                                <img src="images/case_1.png" alt="photo">
                            </div>
                            <div class="slide__buttons">
                                <a href="#">www.wertgarantie.de</a>
                                <button type="button" class="button"> <span>Подробнее</span> </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="slide">
                        <div class="slide__box">
                            <div class="slide__header">
                                Wertgarantie Gmbh  Wertgarantie Gmbh
                            </div>
                            <div class="slide__description">
                                Создан корпоративный портал в фирменном стиле для немецкой
                                компании, настроен основной и дополнительный функционал
                                под потребности заказчика.
                            </div>
                            <div class="slide__image">
                                <img src="images/case_1.png" alt="photo">
                            </div>
                            <div class="slide__buttons">
                                <a href="#">www.wertgarantie.de</a>
                                <button type="button" class="button"> <span>Подробнее</span> </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="slide">
                        <div class="slide__box">
                            <div class="slide__header">
                                Wertgarantie Gmbh
                            </div>
                            <div class="slide__description">
                                Создан корпоративный портал в фирменном стиле для немецкой
                                компании, настроен основной и дополнительный функционал
                                под потребности заказчика.
                            </div>
                            <div class="slide__image">
                                <img src="images/case_1.png" alt="photo">
                            </div>
                            <div class="slide__buttons">
                                <a href="#">www.wertgarantie.de</a>
                                <button type="button" class="button"> <span>Подробнее</span> </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="slide">
                        <div class="slide__box">
                            <div class="slide__header">
                                Wertgarantie Gmbh
                            </div>
                            <div class="slide__description">
                                Создан корпоративный портал в фирменном стиле для немецкой
                                компании, настроен основной и дополнительный функционал
                                под потребности заказчика.
                            </div>
                            <div class="slide__image">
                                <img src="images/case_1.png" alt="photo">
                            </div>
                            <div class="slide__buttons">
                                <a href="#">www.wertgarantie.de</a>
                                <button type="button" class="button"> <span>Подробнее</span> </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="slide">
                        <div class="slide__box">
                            <div class="slide__header">
                                Wertgarantie Gmbh
                            </div>
                            <div class="slide__description">
                                Создан корпоративный портал в фирменном стиле для немецкой
                                компании, настроен основной и дополнительный функционал
                                под потребности заказчика.
                            </div>
                            <div class="slide__image">
                                <img src="images/case_1.png" alt="photo">
                            </div>
                            <div class="slide__buttons">
                                <a href="#">www.wertgarantie.de</a>
                                <button type="button" class="button"> <span>Подробнее</span> </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="slide">
                        <div class="slide__box">
                            <div class="slide__header">
                                Wertgarantie Gmbh
                            </div>
                            <div class="slide__description">
                                Создан корпоративный портал в фирменном стиле для немецкой
                                компании, настроен основной и дополнительный функционал
                                под потребности заказчика.
                            </div>
                            <div class="slide__image">
                                <img src="images/case_1.png" alt="photo">
                            </div>
                            <div class="slide__buttons">
                                <a href="#">www.wertgarantie.de</a>
                                <button type="button" class="button"> <span>Подробнее</span> </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="slide">
                        <div class="slide__box">
                            <div class="slide__header">
                                Wertgarantie Gmbh
                            </div>
                            <div class="slide__description">
                                Создан корпоративный портал в фирменном стиле для немецкой
                                компании, настроен основной и дополнительный функционал
                                под потребности заказчика.
                            </div>
                            <div class="slide__image">
                                <img src="images/case_1.png" alt="photo">
                            </div>
                            <div class="slide__buttons">
                                <a href="#">www.wertgarantie.de</a>
                                <button type="button" class="button"> <span>Подробнее</span> </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="slide">
                        <div class="slide__box">
                            <div class="slide__header">
                                Wertgarantie Gmbh
                            </div>
                            <div class="slide__description">
                                Создан корпоративный портал в фирменном стиле для немецкой
                                компании, настроен основной и дополнительный функционал
                                под потребности заказчика.
                            </div>
                            <div class="slide__image">
                                <img src="images/case_1.png" alt="photo">
                            </div>
                            <div class="slide__buttons">
                                <a href="#">www.wertgarantie.de</a>
                                <button type="button" class="button"> <span>Подробнее</span> </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="slide">
                        <div class="slide__box">
                            <div class="slide__header">
                                Wertgarantie Gmbh
                            </div>
                            <div class="slide__description">
                                Создан корпоративный портал в фирменном стиле для немецкой
                                компании, настроен основной и дополнительный функционал
                                под потребности заказчика.
                            </div>
                            <div class="slide__image">
                                <img src="images/case_1.png" alt="photo">
                            </div>
                            <div class="slide__buttons">
                                <a href="#">www.wertgarantie.de</a>
                                <button type="button" class="button"> <span>Подробнее</span> </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="slide">
                        <div class="slide__box">
                            <div class="slide__header">
                                Wertgarantie Gmbh
                            </div>
                            <div class="slide__description">
                                Создан корпоративный портал в фирменном стиле для немецкой
                                компании, настроен основной и дополнительный функционал
                                под потребности заказчика.
                            </div>
                            <div class="slide__image">
                                <img src="images/case_1.png" alt="photo">
                            </div>
                            <div class="slide__buttons">
                                <a href="#">www.wertgarantie.de</a>
                                <button type="button" class="button"> <span>Подробнее</span> </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="doubleslider__nav">
            <div class="doubleslider__nav-slider js-slider-nav">
                <div class="slide">
                    <div class="slide__box">
                        <div class="slide__header">
                            Wertgarantie Gmbh
                        </div>
                        <div class="slide__description">
                            Создан корпоративный портал в фирменном стиле для немецкой
                            компании, настроен основной и дополнительный функционал
                            под потребности заказчика.
                        </div>
                        <div class="slide__image">
                            <img src="images/case_1.png" alt="photo">
                        </div>
                        <div class="slide__buttons">
                            <a href="#">www.wertgarantie.de</a>
                            <button type="button" class="button"> <span>Подробнее</span> </button>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide__box">
                        <div class="slide__header">
                            #MBocharova
                        </div>
                        <div class="slide__description">
                            Создан корпоративный портал в фирменном стиле для немецкой
                            компании, настроен основной и дополнительный функционал
                            под потребности заказчика.
                        </div>
                        <div class="slide__image">
                            <img src="images/case_2.png" alt="photo">
                        </div>
                        <div class="slide__buttons">
                            <a href="#">www.qwertybest.ok</a>
                            <button type="button" class="button"> <span>Подробнее</span> </button>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide__box">
                        <div class="slide__header">
                            Pollardi
                        </div>
                        <div class="slide__description">
                            Создан корпоративный портал в фирменном стиле для немецкой
                            компании, настроен основной и дополнительный функционал
                            под потребности заказчика.
                        </div>
                        <div class="slide__image">
                            <img src="images/case_3.png" alt="photo">
                        </div>
                        <div class="slide__buttons">
                            <a href="#">www.qwertybest.ok</a>
                            <button type="button" class="button"> <span>Подробнее</span> </button>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide__box">
                        <div class="slide__header">
                            Dveej.ua
                        </div>
                        <div class="slide__description">
                            Создан корпоративный портал в фирменном стиле для немецкой
                            компании, настроен основной и дополнительный функционал
                            под потребности заказчика.
                        </div>
                        <div class="slide__image">
                            <img src="images/case_1.png" alt="photo">
                        </div>
                        <div class="slide__buttons">
                            <a href="#">www.qwertybest.ok</a>
                            <button type="button" class="button"> <span>Подробнее</span> </button>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide__box">
                        <div class="slide__header">
                            Hop-hey.lalaley
                        </div>
                        <div class="slide__description">
                            Создан корпоративный портал в фирменном стиле для немецкой
                            компании, настроен основной и дополнительный функционал
                            под потребности заказчика.
                        </div>
                        <div class="slide__image">
                            <img src="images/case_2.png" alt="photo">
                        </div>
                        <div class="slide__buttons">
                            <a href="#">www.qwertybest.ok</a>
                            <button type="button" class="button"> <span>Подробнее</span> </button>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide__box">
                        <div class="slide__header">
                            Wertgarantie Gmbh
                        </div>
                        <div class="slide__description">
                            Создан корпоративный портал в фирменном стиле для немецкой
                            компании, настроен основной и дополнительный функционал
                            под потребности заказчика.
                        </div>
                        <div class="slide__image">
                            <img src="images/case_1.png" alt="photo">
                        </div>
                        <div class="slide__buttons">
                            <a href="#">www.wertgarantie.de</a>
                            <button type="button" class="button"> <span>Подробнее</span> </button>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide__box">
                        <div class="slide__header">
                            #MBocharova
                        </div>
                        <div class="slide__description">
                            Создан корпоративный портал в фирменном стиле для немецкой
                            компании, настроен основной и дополнительный функционал
                            под потребности заказчика.
                        </div>
                        <div class="slide__image">
                            <img src="images/case_2.png" alt="photo">
                        </div>
                        <div class="slide__buttons">
                            <a href="#">www.qwertybest.ok</a>
                            <button type="button" class="button"> <span>Подробнее</span> </button>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide__box">
                        <div class="slide__header">
                            Pollardi
                        </div>
                        <div class="slide__description">
                            Создан корпоративный портал в фирменном стиле для немецкой
                            компании, настроен основной и дополнительный функционал
                            под потребности заказчика.
                        </div>
                        <div class="slide__image">
                            <img src="images/case_3.png" alt="photo">
                        </div>
                        <div class="slide__buttons">
                            <a href="#">www.qwertybest.ok</a>
                            <button type="button" class="button"> <span>Подробнее</span> </button>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide__box">
                        <div class="slide__header">
                            Dveej.ua
                        </div>
                        <div class="slide__description">
                            Создан корпоративный портал в фирменном стиле для немецкой
                            компании, настроен основной и дополнительный функционал
                            под потребности заказчика.
                        </div>
                        <div class="slide__image">
                            <img src="images/case_1.png" alt="photo">
                        </div>
                        <div class="slide__buttons">
                            <a href="#">www.qwertybest.ok</a>
                            <button type="button" class="button"> <span>Подробнее</span> </button>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide__box">
                        <div class="slide__header">
                            Hop-hey.lalaley
                        </div>
                        <div class="slide__description">
                            Создан корпоративный портал в фирменном стиле для немецкой
                            компании, настроен основной и дополнительный функционал
                            под потребности заказчика.
                        </div>
                        <div class="slide__image">
                            <img src="images/case_2.png" alt="photo">
                        </div>
                        <div class="slide__buttons">
                            <a href="#">www.qwertybest.ok</a>
                            <button type="button" class="button"> <span>Подробнее</span> </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mbox">
        <div class="doubleslider__buttons">
            <button class="js-slider-big-prev button button--bordered button--arrow"><span>&nbsp;</span></button>
            <button class="button button--bordered"><span>все кейсы</span></button>
            <button class="js-slider-big-next button button--bordered button--arrow forward"><span>&nbsp;</span></button>
        </div>
    </div>
</section>
<link rel="stylesheet" href="css/slick-theme.css">
<link rel="stylesheet" href="css/slick.css">
<link rel="stylesheet" href="css/sliderische.css">
<!--з скріптами уважно вони можуть бути вже підключені-->
<script  src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/plugins/slick.js" ></script>